n8n-workflows/garzasync-cloud/Claude-Desktop-Remote-Control.json
{"updatedAt":"2025-12-26T01:35:23.001Z","createdAt":"2025-12-26T01:30:11.513Z","id":"fgxMvptV07p5qO3I","name":"Claude Desktop Remote Control","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"claude-remote","responseMode":"responseNode","options":{}},"id":"webhook","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"webhookId":"claude-remote"},{"parameters":{"method":"POST","url":"https://claude-remote.garzahive.com/","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.body || $json) }}"},"id":"forward","name":"Forward to Mac","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[450,300]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}"},"id":"respond","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[650,300]}],"connections":{"Webhook":{"main":[[{"node":"Forward to Mac","type":"main","index":0}]]},"Forward to Mac":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"239123d8-66c7-4c87-a509-04d7bc18f7c7","activeVersionId":"239123d8-66c7-4c87-a509-04d7bc18f7c7","versionCounter":6,"triggerCount":1,"shared":[{"updatedAt":"2025-12-26T01:30:11.515Z","createdAt":"2025-12-26T01:30:11.515Z","role":"workflow:owner","workflowId":"fgxMvptV07p5qO3I","projectId":"ZRKSWWwtaPZqyYf5","project":{"updatedAt":"2025-11-03T23:37:11.788Z","createdAt":"2025-11-03T23:37:07.919Z","id":"ZRKSWWwtaPZqyYf5","name":"jaden   <garzasecure@pm.me>","type":"personal","icon":null,"description":null,"creatorId":"250860b0-4a62-43fe-9aa8-f58058408f22","projectRelations":[{"updatedAt":"2025-11-03T23:37:07.920Z","createdAt":"2025-11-03T23:37:07.920Z","userId":"250860b0-4a62-43fe-9aa8-f58058408f22","projectId":"ZRKSWWwtaPZqyYf5","user":{"updatedAt":"2025-12-26T06:00:27.000Z","createdAt":"2025-11-03T23:37:06.499Z","id":"250860b0-4a62-43fe-9aa8-f58058408f22","email":"garzasecure@pm.me","firstName":"jaden","lastName":" ","personalizationAnswers":null,"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"fbeHV6ioUQZwXHfF","userActivatedAt":1766710827089},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-12-26","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2025-12-26T01:35:23.002Z","createdAt":"2025-12-26T01:35:23.002Z","versionId":"239123d8-66c7-4c87-a509-04d7bc18f7c7","workflowId":"fgxMvptV07p5qO3I","nodes":[{"parameters":{"httpMethod":"POST","path":"claude-remote","responseMode":"responseNode","options":{}},"id":"webhook","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"webhookId":"claude-remote"},{"parameters":{"method":"POST","url":"https://claude-remote.garzahive.com/","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.body || $json) }}"},"id":"forward","name":"Forward to Mac","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[450,300]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}"},"id":"respond","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[650,300]}],"connections":{"Webhook":{"main":[[{"node":"Forward to Mac","type":"main","index":0}]]},"Forward to Mac":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"authors":"jaden  ","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2025-12-26T01:35:23.177Z","id":36,"workflowId":"fgxMvptV07p5qO3I","versionId":"239123d8-66c7-4c87-a509-04d7bc18f7c7","event":"activated","userId":"250860b0-4a62-43fe-9aa8-f58058408f22"}]}}