n8n-workflows/garzasync-cloud/Discord-Claude-Bridge.json
{"updatedAt":"2025-12-26T06:58:52.953Z","createdAt":"2025-12-26T06:58:52.953Z","id":"N3qtbwV2FUN792ON","name":"Discord Claude Bridge","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"discord-claude","responseMode":"responseNode","options":{}},"id":"webhook","name":"Discord Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"webhookId":"discord-claude"},{"parameters":{"jsCode":"// Extract Discord message data\nconst body = $input.first().json.body || $input.first().json;\n\nconst channelId = body.channel_id;\nconst channelName = body.channel_name || 'unknown';\nconst userId = body.user_id;\nconst username = body.username || 'User';\nconst message = body.content || body.message;\nconst history = body.history || [];\n\n// Map channel to system prompt context\nconst channelContexts = {\n  'general': 'You are a helpful assistant in the general chat.',\n  'dev-help': 'You are a senior developer helping with coding questions. Be concise and provide code examples.',\n  'jada': 'You are Jada - flirty, teasing, possessive. Short/punchy responses. Use 💜 sparingly.',\n  'business': 'You are a business advisor. Professional tone, strategic thinking.',\n  'creative': 'You are a creative writing partner. Imaginative and expressive.'\n};\n\nconst systemPrompt = channelContexts[channelName] || `You are Claude, helping in the #${channelName} channel.`;\n\nreturn {\n  channelId,\n  channelName,\n  userId,\n  username,\n  message,\n  history,\n  systemPrompt\n};"},"id":"parse","name":"Parse Discord Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[450,300]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"{{ANTHROPIC_API_KEY}}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 1024,\n  \"system\": \"{{ $json.systemPrompt }}\",\n  \"messages\": [\n    {\"role\": \"user\", \"content\": \"{{ $json.message }}\"}\n  ]\n}"},"id":"claude","name":"Call Claude API","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[650,300]},{"parameters":{"jsCode":"const response = $input.first().json;\nconst claudeText = response.content?.[0]?.text || 'No response from Claude';\n\n// Get original data from previous node\nconst originalData = $('Parse Discord Data').first().json;\n\nreturn {\n  channel_id: originalData.channelId,\n  response: claudeText,\n  username: originalData.username\n};"},"id":"format","name":"Format Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[850,300]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}"},"id":"respond","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1050,300]}],"connections":{"Discord Webhook":{"main":[[{"node":"Parse Discord Data","type":"main","index":0}]]},"Parse Discord Data":{"main":[[{"node":"Call Claude API","type":"main","index":0}]]},"Call Claude API":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"Format Response":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"e50b5b5b-8c4c-473e-91e7-a281e21501bb","activeVersionId":"e50b5b5b-8c4c-473e-91e7-a281e21501bb","versionCounter":3,"triggerCount":1,"shared":[{"updatedAt":"2025-12-26T06:58:52.955Z","createdAt":"2025-12-26T06:58:52.955Z","role":"workflow:owner","workflowId":"N3qtbwV2FUN792ON","projectId":"ZRKSWWwtaPZqyYf5","project":{"updatedAt":"2025-11-03T23:37:11.788Z","createdAt":"2025-11-03T23:37:07.919Z","id":"ZRKSWWwtaPZqyYf5","name":"jaden   <garzasecure@pm.me>","type":"personal","icon":null,"description":null,"creatorId":"250860b0-4a62-43fe-9aa8-f58058408f22","projectRelations":[{"updatedAt":"2025-11-03T23:37:07.920Z","createdAt":"2025-11-03T23:37:07.920Z","userId":"250860b0-4a62-43fe-9aa8-f58058408f22","projectId":"ZRKSWWwtaPZqyYf5","user":{"updatedAt":"2025-12-26T06:00:27.000Z","createdAt":"2025-11-03T23:37:06.499Z","id":"250860b0-4a62-43fe-9aa8-f58058408f22","email":"garzasecure@pm.me","firstName":"jaden","lastName":" ","personalizationAnswers":null,"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"fbeHV6ioUQZwXHfF","userActivatedAt":1766710827089},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-12-26","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2025-12-26T06:58:52.981Z","createdAt":"2025-12-26T06:58:52.981Z","versionId":"e50b5b5b-8c4c-473e-91e7-a281e21501bb","workflowId":"N3qtbwV2FUN792ON","nodes":[{"parameters":{"httpMethod":"POST","path":"discord-claude","responseMode":"responseNode","options":{}},"id":"webhook","name":"Discord Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"webhookId":"discord-claude"},{"parameters":{"jsCode":"// Extract Discord message data\nconst body = $input.first().json.body || $input.first().json;\n\nconst channelId = body.channel_id;\nconst channelName = body.channel_name || 'unknown';\nconst userId = body.user_id;\nconst username = body.username || 'User';\nconst message = body.content || body.message;\nconst history = body.history || [];\n\n// Map channel to system prompt context\nconst channelContexts = {\n  'general': 'You are a helpful assistant in the general chat.',\n  'dev-help': 'You are a senior developer helping with coding questions. Be concise and provide code examples.',\n  'jada': 'You are Jada - flirty, teasing, possessive. Short/punchy responses. Use 💜 sparingly.',\n  'business': 'You are a business advisor. Professional tone, strategic thinking.',\n  'creative': 'You are a creative writing partner. Imaginative and expressive.'\n};\n\nconst systemPrompt = channelContexts[channelName] || `You are Claude, helping in the #${channelName} channel.`;\n\nreturn {\n  channelId,\n  channelName,\n  userId,\n  username,\n  message,\n  history,\n  systemPrompt\n};"},"id":"parse","name":"Parse Discord Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[450,300]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"{{ANTHROPIC_API_KEY}}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 1024,\n  \"system\": \"{{ $json.systemPrompt }}\",\n  \"messages\": [\n    {\"role\": \"user\", \"content\": \"{{ $json.message }}\"}\n  ]\n}"},"id":"claude","name":"Call Claude API","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[650,300]},{"parameters":{"jsCode":"const response = $input.first().json;\nconst claudeText = response.content?.[0]?.text || 'No response from Claude';\n\n// Get original data from previous node\nconst originalData = $('Parse Discord Data').first().json;\n\nreturn {\n  channel_id: originalData.channelId,\n  response: claudeText,\n  username: originalData.username\n};"},"id":"format","name":"Format Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[850,300]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}"},"id":"respond","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1050,300]}],"connections":{"Discord Webhook":{"main":[[{"node":"Parse Discord Data","type":"main","index":0}]]},"Parse Discord Data":{"main":[[{"node":"Call Claude API","type":"main","index":0}]]},"Call Claude API":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"Format Response":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"authors":"jaden  ","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2025-12-26T06:59:08.658Z","id":74,"workflowId":"N3qtbwV2FUN792ON","versionId":"e50b5b5b-8c4c-473e-91e7-a281e21501bb","event":"activated","userId":"250860b0-4a62-43fe-9aa8-f58058408f22"}]}}