n8n-workflows/garzasync-cloud/Discord-Claude-Desktop-Bridge-v2.json
{"updatedAt":"2025-12-26T20:09:07.080Z","createdAt":"2025-12-26T07:03:19.803Z","id":"E5ZdLZl6px17IppX","name":"Discord → Claude Desktop Bridge v2","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"discord-to-desktop","responseMode":"responseNode","options":{}},"id":"webhook","name":"Discord Webhook","type":"n8n-nodes-base.webhook","position":[250,300],"typeVersion":2,"webhookId":"discord-to-desktop"},{"parameters":{"jsCode":"const body = $input.first().json.body;\nconst chatName = body.chat_name || body.channel_name.replace(/-/g, ' ');\nconst message = body.content;\nconst username = body.username;\n\nreturn [{ json: { chatName, message, username } }];"},"id":"parse","name":"Parse Request","type":"n8n-nodes-base.code","position":[450,300],"typeVersion":2},{"parameters":{"method":"POST","url":"https://claude-remote.garzahive.com/","sendBody":true,"specifyBody":"json","jsonBody":"={\"action\": \"switch-and-send\", \"chat_name\": \"{{ $json.chatName }}\", \"message\": \"{{ $json.message }}\"}","options":{"timeout":30000}},"id":"send","name":"Switch Chat & Send","type":"n8n-nodes-base.httpRequest","position":[650,300],"typeVersion":4.2},{"parameters":{"jsCode":"await new Promise(r => setTimeout(r, 20000));\nreturn $input.all();"},"id":"wait","name":"Wait 20s","type":"n8n-nodes-base.code","position":[850,300],"typeVersion":2},{"parameters":{"method":"POST","url":"https://claude-remote.garzahive.com/","sendBody":true,"specifyBody":"json","jsonBody":"{\"action\": \"get-screenshot\"}","options":{"timeout":30000}},"id":"screenshot","name":"Get Screenshot","type":"n8n-nodes-base.httpRequest","position":[1050,300],"typeVersion":4.2},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 1024,\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": [\n      {\n        \"type\": \"image\",\n        \"source\": {\n          \"type\": \"base64\",\n          \"media_type\": \"image/png\",\n          \"data\": \"{{ $json.data }}\"\n        }\n      },\n      {\n        \"type\": \"text\",\n        \"text\": \"Extract ONLY Claude's most recent response from this screenshot. Return just the text, no labels.\"\n      }\n    ]\n  }]\n}","options":{"timeout":60000}},"id":"ocr","name":"OCR Response","type":"n8n-nodes-base.httpRequest","position":[1250,300],"typeVersion":4.2},{"parameters":{"jsCode":"const ocr = $input.first().json;\nlet response = ocr?.content?.[0]?.text || 'Could not read response';\nif (response.length > 1900) response = response.substring(0, 1900) + '...';\nreturn [{ json: { response } }];"},"id":"format","name":"Format","type":"n8n-nodes-base.code","position":[1450,300],"typeVersion":2},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ response: $json.response }) }}","options":{}},"id":"respond","name":"Respond","type":"n8n-nodes-base.respondToWebhook","position":[1650,300],"typeVersion":1.1}],"connections":{"Discord Webhook":{"main":[[{"node":"Parse Request","type":"main","index":0}]]},"Parse Request":{"main":[[{"node":"Switch Chat & Send","type":"main","index":0}]]},"Switch Chat & Send":{"main":[[{"node":"Wait 20s","type":"main","index":0}]]},"Wait 20s":{"main":[[{"node":"Get Screenshot","type":"main","index":0}]]},"Get Screenshot":{"main":[[{"node":"OCR Response","type":"main","index":0}]]},"OCR Response":{"main":[[{"node":"Format","type":"main","index":0}]]},"Format":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"f6f226a9-7054-4e61-8331-cf53c188f3f9","activeVersionId":"f6f226a9-7054-4e61-8331-cf53c188f3f9","versionCounter":6,"triggerCount":1,"shared":[{"updatedAt":"2025-12-26T07:03:19.805Z","createdAt":"2025-12-26T07:03:19.805Z","role":"workflow:owner","workflowId":"E5ZdLZl6px17IppX","projectId":"ZRKSWWwtaPZqyYf5","project":{"updatedAt":"2025-11-03T23:37:11.788Z","createdAt":"2025-11-03T23:37:07.919Z","id":"ZRKSWWwtaPZqyYf5","name":"jaden   <garzasecure@pm.me>","type":"personal","icon":null,"description":null,"creatorId":"250860b0-4a62-43fe-9aa8-f58058408f22","projectRelations":[{"updatedAt":"2025-11-03T23:37:07.920Z","createdAt":"2025-11-03T23:37:07.920Z","userId":"250860b0-4a62-43fe-9aa8-f58058408f22","projectId":"ZRKSWWwtaPZqyYf5","user":{"updatedAt":"2025-12-26T06:00:27.000Z","createdAt":"2025-11-03T23:37:06.499Z","id":"250860b0-4a62-43fe-9aa8-f58058408f22","email":"garzasecure@pm.me","firstName":"jaden","lastName":" ","personalizationAnswers":null,"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"fbeHV6ioUQZwXHfF","userActivatedAt":1766710827089},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-12-26","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2025-12-26T20:09:07.081Z","createdAt":"2025-12-26T20:09:07.081Z","versionId":"f6f226a9-7054-4e61-8331-cf53c188f3f9","workflowId":"E5ZdLZl6px17IppX","nodes":[{"parameters":{"httpMethod":"POST","path":"discord-to-desktop","responseMode":"responseNode","options":{}},"id":"webhook","name":"Discord Webhook","type":"n8n-nodes-base.webhook","position":[250,300],"typeVersion":2,"webhookId":"discord-to-desktop"},{"parameters":{"jsCode":"const body = $input.first().json.body;\nconst chatName = body.chat_name || body.channel_name.replace(/-/g, ' ');\nconst message = body.content;\nconst username = body.username;\n\nreturn [{ json: { chatName, message, username } }];"},"id":"parse","name":"Parse Request","type":"n8n-nodes-base.code","position":[450,300],"typeVersion":2},{"parameters":{"method":"POST","url":"https://claude-remote.garzahive.com/","sendBody":true,"specifyBody":"json","jsonBody":"={\"action\": \"switch-and-send\", \"chat_name\": \"{{ $json.chatName }}\", \"message\": \"{{ $json.message }}\"}","options":{"timeout":30000}},"id":"send","name":"Switch Chat & Send","type":"n8n-nodes-base.httpRequest","position":[650,300],"typeVersion":4.2},{"parameters":{"jsCode":"await new Promise(r => setTimeout(r, 20000));\nreturn $input.all();"},"id":"wait","name":"Wait 20s","type":"n8n-nodes-base.code","position":[850,300],"typeVersion":2},{"parameters":{"method":"POST","url":"https://claude-remote.garzahive.com/","sendBody":true,"specifyBody":"json","jsonBody":"{\"action\": \"get-screenshot\"}","options":{"timeout":30000}},"id":"screenshot","name":"Get Screenshot","type":"n8n-nodes-base.httpRequest","position":[1050,300],"typeVersion":4.2},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 1024,\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": [\n      {\n        \"type\": \"image\",\n        \"source\": {\n          \"type\": \"base64\",\n          \"media_type\": \"image/png\",\n          \"data\": \"{{ $json.data }}\"\n        }\n      },\n      {\n        \"type\": \"text\",\n        \"text\": \"Extract ONLY Claude's most recent response from this screenshot. Return just the text, no labels.\"\n      }\n    ]\n  }]\n}","options":{"timeout":60000}},"id":"ocr","name":"OCR Response","type":"n8n-nodes-base.httpRequest","position":[1250,300],"typeVersion":4.2},{"parameters":{"jsCode":"const ocr = $input.first().json;\nlet response = ocr?.content?.[0]?.text || 'Could not read response';\nif (response.length > 1900) response = response.substring(0, 1900) + '...';\nreturn [{ json: { response } }];"},"id":"format","name":"Format","type":"n8n-nodes-base.code","position":[1450,300],"typeVersion":2},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ response: $json.response }) }}","options":{}},"id":"respond","name":"Respond","type":"n8n-nodes-base.respondToWebhook","position":[1650,300],"typeVersion":1.1}],"connections":{"Discord Webhook":{"main":[[{"node":"Parse Request","type":"main","index":0}]]},"Parse Request":{"main":[[{"node":"Switch Chat & Send","type":"main","index":0}]]},"Switch Chat & Send":{"main":[[{"node":"Wait 20s","type":"main","index":0}]]},"Wait 20s":{"main":[[{"node":"Get Screenshot","type":"main","index":0}]]},"Get Screenshot":{"main":[[{"node":"OCR Response","type":"main","index":0}]]},"OCR Response":{"main":[[{"node":"Format","type":"main","index":0}]]},"Format":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"authors":"jaden  ","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2025-12-26T20:09:07.260Z","id":76,"workflowId":"E5ZdLZl6px17IppX","versionId":"f6f226a9-7054-4e61-8331-cf53c188f3f9","event":"activated","userId":"250860b0-4a62-43fe-9aa8-f58058408f22"}]}}