n8n-workflows/garzasync-cloud/Email-to-Craft-Daily-Notes.json
{"updatedAt":"2025-12-26T02:08:28.870Z","createdAt":"2025-12-26T00:15:33.366Z","id":"4r0CRrxxgV133WGP","name":"Email to Craft Daily Notes","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"id":"schedule","name":"Every 15 Minutes","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[250,300]},{"parameters":{"method":"POST","url":"https://mcp-cf.garzahive.com/v0/mcp","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\"tool\": \"search_protonmail\", \"arguments\": {\"criteria\": \"UNSEEN\", \"limit\": 10}}"},"id":"search","name":"Search Unread","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[450,300]},{"parameters":{"jsCode":"const result = $input.first().json; let emails = []; try { const content = result?.result?.content?.[0]?.text; if (content) emails = JSON.parse(content); } catch(e) {} if (!emails.length) return []; return emails.map(e => ({json: e}));"},"id":"parse","name":"Parse Emails","type":"n8n-nodes-base.code","typeVersion":2,"position":[650,300]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"{{ANTHROPIC_API_KEY}}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"model\":\"claude-sonnet-4-20250514\",\"max_tokens\":200,\"messages\":[{\"role\":\"user\",\"content\":\"Summarize this email briefly (1-2 sentences). Include sender, subject, key action: From: {{ $json.from }} Subject: {{ $json.subject }}\"}]}"},"id":"claude","name":"Claude API","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[850,300]},{"name":"Test Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-100,300],"webhookId":"email-craft-test","parameters":{"path":"email-craft-test","httpMethod":"POST"},"id":"d42a13de-6aa4-4e84-862c-4ec143259b1f"}],"connections":{"Every 15 Minutes":{"main":[[{"node":"Search Unread","type":"main","index":0}]]},"Search Unread":{"main":[[{"node":"Parse Emails","type":"main","index":0}]]},"Parse Emails":{"main":[[{"node":"Claude API","type":"main","index":0}]]},"Test Webhook":{"main":[[{"node":"Search Unread","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Every 15 Minutes":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"bcf6642a-6fad-407d-b978-9774e04f2f7d","activeVersionId":"bcf6642a-6fad-407d-b978-9774e04f2f7d","versionCounter":14,"triggerCount":2,"shared":[{"updatedAt":"2025-12-26T00:15:33.367Z","createdAt":"2025-12-26T00:15:33.367Z","role":"workflow:owner","workflowId":"4r0CRrxxgV133WGP","projectId":"ZRKSWWwtaPZqyYf5","project":{"updatedAt":"2025-11-03T23:37:11.788Z","createdAt":"2025-11-03T23:37:07.919Z","id":"ZRKSWWwtaPZqyYf5","name":"jaden   <garzasecure@pm.me>","type":"personal","icon":null,"description":null,"creatorId":"250860b0-4a62-43fe-9aa8-f58058408f22","projectRelations":[{"updatedAt":"2025-11-03T23:37:07.920Z","createdAt":"2025-11-03T23:37:07.920Z","userId":"250860b0-4a62-43fe-9aa8-f58058408f22","projectId":"ZRKSWWwtaPZqyYf5","user":{"updatedAt":"2025-12-26T06:00:27.000Z","createdAt":"2025-11-03T23:37:06.499Z","id":"250860b0-4a62-43fe-9aa8-f58058408f22","email":"garzasecure@pm.me","firstName":"jaden","lastName":" ","personalizationAnswers":null,"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"fbeHV6ioUQZwXHfF","userActivatedAt":1766710827089},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-12-26","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2025-12-26T02:08:28.871Z","createdAt":"2025-12-26T02:08:28.871Z","versionId":"bcf6642a-6fad-407d-b978-9774e04f2f7d","workflowId":"4r0CRrxxgV133WGP","nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"id":"schedule","name":"Every 15 Minutes","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[250,300]},{"parameters":{"method":"POST","url":"https://mcp-cf.garzahive.com/v0/mcp","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\"tool\": \"search_protonmail\", \"arguments\": {\"criteria\": \"UNSEEN\", \"limit\": 10}}"},"id":"search","name":"Search Unread","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[450,300]},{"parameters":{"jsCode":"const result = $input.first().json; let emails = []; try { const content = result?.result?.content?.[0]?.text; if (content) emails = JSON.parse(content); } catch(e) {} if (!emails.length) return []; return emails.map(e => ({json: e}));"},"id":"parse","name":"Parse Emails","type":"n8n-nodes-base.code","typeVersion":2,"position":[650,300]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"{{ANTHROPIC_API_KEY}}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"model\":\"claude-sonnet-4-20250514\",\"max_tokens\":200,\"messages\":[{\"role\":\"user\",\"content\":\"Summarize this email briefly (1-2 sentences). Include sender, subject, key action: From: {{ $json.from }} Subject: {{ $json.subject }}\"}]}"},"id":"claude","name":"Claude API","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[850,300]},{"name":"Test Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-100,300],"webhookId":"email-craft-test","parameters":{"path":"email-craft-test","httpMethod":"POST"},"id":"d42a13de-6aa4-4e84-862c-4ec143259b1f"}],"connections":{"Every 15 Minutes":{"main":[[{"node":"Search Unread","type":"main","index":0}]]},"Search Unread":{"main":[[{"node":"Parse Emails","type":"main","index":0}]]},"Parse Emails":{"main":[[{"node":"Claude API","type":"main","index":0}]]},"Test Webhook":{"main":[[{"node":"Search Unread","type":"main","index":0}]]}},"authors":"jaden  ","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2025-12-26T02:08:29.017Z","id":44,"workflowId":"4r0CRrxxgV133WGP","versionId":"bcf6642a-6fad-407d-b978-9774e04f2f7d","event":"activated","userId":"250860b0-4a62-43fe-9aa8-f58058408f22"}]}}