n8n-workflows/garzasync-cloud/GARZA-Shield-Security-Alerts.json
{"updatedAt":"2025-12-25T23:58:58.443Z","createdAt":"2025-12-25T23:58:58.443Z","id":"1UY79Twq0KhwqtcW","name":"GARZA Shield - Security Alerts","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"security-alert","responseMode":"lastNode","options":{}},"id":"webhook","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"webhookId":"security-alert"},{"parameters":{"jsCode":"const alert = $input.first().json.body || $input.first().json;\nconst severity = alert.severity || 'medium';\nconst message = `🚨 SECURITY ALERT\\nType: ${alert.type || 'unknown'}\\nSeverity: ${severity}\\nSource: ${alert.source || 'unknown'}\\nDetails: ${JSON.stringify(alert.details || alert, null, 2)}`;\nreturn [{json: {message, severity, alert}}];"},"id":"format","name":"Format Alert","type":"n8n-nodes-base.code","typeVersion":2,"position":[450,300]},{"parameters":{"method":"POST","url":"https://mcp-cf.garzahive.com/v0/mcp","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":1,\"method\":\"tools/call\",\"params\":{\"name\":\"push_notify\",\"arguments\":{\"title\":\"🚨 Security Alert\",\"text\":\"{{ $json.message }}\",\"isTimeSensitive\":true}}}"},"id":"notify","name":"Push Notify","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[650,300]}],"connections":{"Webhook":{"main":[[{"node":"Format Alert","type":"main","index":0}]]},"Format Alert":{"main":[[{"node":"Push Notify","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"f0833d66-9eb9-479d-83ca-f36663489471","activeVersionId":"f0833d66-9eb9-479d-83ca-f36663489471","versionCounter":3,"triggerCount":1,"shared":[{"updatedAt":"2025-12-25T23:58:58.445Z","createdAt":"2025-12-25T23:58:58.445Z","role":"workflow:owner","workflowId":"1UY79Twq0KhwqtcW","projectId":"ZRKSWWwtaPZqyYf5","project":{"updatedAt":"2025-11-03T23:37:11.788Z","createdAt":"2025-11-03T23:37:07.919Z","id":"ZRKSWWwtaPZqyYf5","name":"jaden   <garzasecure@pm.me>","type":"personal","icon":null,"description":null,"creatorId":"250860b0-4a62-43fe-9aa8-f58058408f22","projectRelations":[{"updatedAt":"2025-11-03T23:37:07.920Z","createdAt":"2025-11-03T23:37:07.920Z","userId":"250860b0-4a62-43fe-9aa8-f58058408f22","projectId":"ZRKSWWwtaPZqyYf5","user":{"updatedAt":"2025-12-26T06:00:27.000Z","createdAt":"2025-11-03T23:37:06.499Z","id":"250860b0-4a62-43fe-9aa8-f58058408f22","email":"garzasecure@pm.me","firstName":"jaden","lastName":" ","personalizationAnswers":null,"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"fbeHV6ioUQZwXHfF","userActivatedAt":1766710827089},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-12-26","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2025-12-25T23:58:58.472Z","createdAt":"2025-12-25T23:58:58.472Z","versionId":"f0833d66-9eb9-479d-83ca-f36663489471","workflowId":"1UY79Twq0KhwqtcW","nodes":[{"parameters":{"httpMethod":"POST","path":"security-alert","responseMode":"lastNode","options":{}},"id":"webhook","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"webhookId":"security-alert"},{"parameters":{"jsCode":"const alert = $input.first().json.body || $input.first().json;\nconst severity = alert.severity || 'medium';\nconst message = `🚨 SECURITY ALERT\\nType: ${alert.type || 'unknown'}\\nSeverity: ${severity}\\nSource: ${alert.source || 'unknown'}\\nDetails: ${JSON.stringify(alert.details || alert, null, 2)}`;\nreturn [{json: {message, severity, alert}}];"},"id":"format","name":"Format Alert","type":"n8n-nodes-base.code","typeVersion":2,"position":[450,300]},{"parameters":{"method":"POST","url":"https://mcp-cf.garzahive.com/v0/mcp","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":1,\"method\":\"tools/call\",\"params\":{\"name\":\"push_notify\",\"arguments\":{\"title\":\"🚨 Security Alert\",\"text\":\"{{ $json.message }}\",\"isTimeSensitive\":true}}}"},"id":"notify","name":"Push Notify","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[650,300]}],"connections":{"Webhook":{"main":[[{"node":"Format Alert","type":"main","index":0}]]},"Format Alert":{"main":[[{"node":"Push Notify","type":"main","index":0}]]}},"authors":"jaden  ","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2025-12-26T00:01:12.458Z","id":1,"workflowId":"1UY79Twq0KhwqtcW","versionId":"f0833d66-9eb9-479d-83ca-f36663489471","event":"activated","userId":"250860b0-4a62-43fe-9aa8-f58058408f22"}]}}