n8n-workflows/garzasync-cloud/GARZA-OS-Autonomous-Agent.json
{"updatedAt":"2025-12-26T02:49:35.131Z","createdAt":"2025-12-26T02:49:35.131Z","id":"nnOp5ypBmGB7EZ2n","name":"GARZA OS Autonomous Agent","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"id":"schedule","name":"Every 15 Minutes","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[180,300]},{"parameters":{"method":"POST","url":"https://api.cloudflare.com/client/v4/accounts/14adde85f76060c6edef6f3239d36e6a/d1/database/b09efd12-2be0-4d90-8a7a-dc4fcf16fc85/query","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"{\"sql\": \"SELECT * FROM agent_queue WHERE status = 'pending' ORDER BY priority DESC LIMIT 10\"}"},"id":"get_queue","name":"Get Pending Tasks","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,200]},{"parameters":{"method":"GET","url":"https://garzasync.app.n8n.cloud/api/v1/executions?status=error&limit=10","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth"},"id":"get_failed","name":"Get Failed Executions","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,400]},{"parameters":{"jsCode":"const runId = 'run_' + Date.now();\nconst queue = $('Get Pending Tasks').first()?.json?.result || [];\nconst failures = $('Get Failed Executions').first()?.json?.data || [];\n\nconst SELF_ID = $workflow.id;\nconst newFailures = failures.filter(f => f.workflowId !== SELF_ID);\n\nreturn [{\n  json: {\n    run_id: runId,\n    timestamp: new Date().toISOString(),\n    pending_tasks: queue,\n    failed_workflows: newFailures.map(f => ({ id: f.id, workflow: f.workflowId }))\n  }\n}];"},"id":"build_context","name":"Build Context","type":"n8n-nodes-base.code","typeVersion":2,"position":[620,300]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 4096, system: 'You are GARZA OS Agent. Every 15 min you check system health. Respond with JSON: {analysis, actions: [{type, target, details}], notify_user: boolean, notification_reason, learnings: [{observation, should_repeat}]}. Rules: Never purchase anything. Only notify for risky actions.', messages: [{ role: 'user', content: 'System state: ' + JSON.stringify($json) }] }) }}"},"id":"claude_reason","name":"Claude Reasoning","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[840,300]},{"parameters":{"jsCode":"const response = $input.first().json;\nlet text = response.content?.[0]?.text || '';\nlet parsed = { analysis: 'No response', actions: [], notify_user: false, learnings: [] };\ntry {\n  const match = text.match(/\\{[\\s\\S]*\\}/);\n  if (match) parsed = JSON.parse(match[0]);\n} catch (e) { parsed.analysis = 'Parse error'; }\nparsed.run_id = $('Build Context').first().json.run_id;\nreturn [{ json: parsed }];"},"id":"parse_response","name":"Parse Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1060,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"a","leftValue":"={{ $json.notify_user }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}]}},"id":"should_notify","name":"Should Notify?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1280,300]},{"parameters":{"method":"POST","url":"https://mcp.beeper.com/direct","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ jsonrpc: '2.0', id: 1, method: 'tools/call', params: { name: 'send_message', arguments: { chatID: 'imessage:;-;81d29dce59aa19a1', text: '🤖 GARZA OS Agent\\n\\n' + $json.notification_reason + '\\n\\n' + $json.analysis } } }) }}"},"id":"notify_jaden","name":"Notify Jaden","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1500,200]},{"parameters":{"method":"POST","url":"https://api.cloudflare.com/client/v4/accounts/14adde85f76060c6edef6f3239d36e6a/d1/database/b09efd12-2be0-4d90-8a7a-dc4fcf16fc85/query","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ sql: 'INSERT INTO agent_runs (run_id, started_at, completed_at, reasoning, actions_taken, notified_user) VALUES (?, datetime(), datetime(), ?, ?, ?)', params: [$json.run_id, $json.analysis, JSON.stringify($json.actions), $json.notify_user ? 1 : 0] }) }}"},"id":"log_run","name":"Log Run","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1720,300]},{"parameters":{},"id":"noop","name":"Silent","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1500,400]}],"connections":{"Every 15 Minutes":{"main":[[{"node":"Get Pending Tasks","type":"main","index":0},{"node":"Get Failed Executions","type":"main","index":0}]]},"Get Pending Tasks":{"main":[[{"node":"Build Context","type":"main","index":0}]]},"Get Failed Executions":{"main":[[{"node":"Build Context","type":"main","index":0}]]},"Build Context":{"main":[[{"node":"Claude Reasoning","type":"main","index":0}]]},"Claude Reasoning":{"main":[[{"node":"Parse Response","type":"main","index":0}]]},"Parse Response":{"main":[[{"node":"Should Notify?","type":"main","index":0}]]},"Should Notify?":{"main":[[{"node":"Notify Jaden","type":"main","index":0}],[{"node":"Silent","type":"main","index":0}]]},"Notify Jaden":{"main":[[{"node":"Log Run","type":"main","index":0}]]},"Silent":{"main":[[{"node":"Log Run","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"958f072d-64d2-4d54-8235-0df29f5ef040","activeVersionId":null,"versionCounter":1,"triggerCount":0,"shared":[{"updatedAt":"2025-12-26T02:49:35.133Z","createdAt":"2025-12-26T02:49:35.133Z","role":"workflow:owner","workflowId":"nnOp5ypBmGB7EZ2n","projectId":"ZRKSWWwtaPZqyYf5","project":{"updatedAt":"2025-11-03T23:37:11.788Z","createdAt":"2025-11-03T23:37:07.919Z","id":"ZRKSWWwtaPZqyYf5","name":"jaden   <garzasecure@pm.me>","type":"personal","icon":null,"description":null,"creatorId":"250860b0-4a62-43fe-9aa8-f58058408f22","projectRelations":[{"updatedAt":"2025-11-03T23:37:07.920Z","createdAt":"2025-11-03T23:37:07.920Z","userId":"250860b0-4a62-43fe-9aa8-f58058408f22","projectId":"ZRKSWWwtaPZqyYf5","user":{"updatedAt":"2025-12-26T06:00:27.000Z","createdAt":"2025-11-03T23:37:06.499Z","id":"250860b0-4a62-43fe-9aa8-f58058408f22","email":"garzasecure@pm.me","firstName":"jaden","lastName":" ","personalizationAnswers":null,"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"fbeHV6ioUQZwXHfF","userActivatedAt":1766710827089},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-12-26","isPending":false}}]}}],"tags":[],"activeVersion":null}