n8n-workflows/garzasync-cloud/GARZA-OS-Autonomous-Agent-v2.json
{"updatedAt":"2025-12-26T02:51:00.657Z","createdAt":"2025-12-26T02:51:00.657Z","id":"QtLA4ucmSgy22PPT","name":"GARZA OS Autonomous Agent v2","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"id":"schedule","name":"Every 15 Minutes","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[180,300]},{"parameters":{"httpMethod":"POST","path":"agent-run","options":{}},"id":"webhook","name":"Manual Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[180,500],"webhookId":"agent-run-webhook"},{"parameters":{"method":"GET","url":"https://garzasync.app.n8n.cloud/api/v1/executions?status=error&limit=10","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-API-KEY","value":"{{N8N_API_KEY}}"}]}},"id":"get_failed","name":"Get Failed Executions","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,400]},{"parameters":{"method":"POST","url":"https://api.cloudflare.com/client/v4/accounts/14adde85f76060c6edef6f3239d36e6a/d1/database/b09efd12-2be0-4d90-8a7a-dc4fcf16fc85/query","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer {{CF_D1_TOKEN}}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\"sql\": \"SELECT * FROM agent_queue WHERE status = 'pending' ORDER BY priority DESC LIMIT 5\"}"},"id":"get_queue","name":"Get Task Queue","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,200]},{"parameters":{"jsCode":"const SELF_ID = $workflow.id;\nconst queue = $('Get Task Queue').first()?.json?.result?.[0]?.results || [];\nconst allFailures = $('Get Failed Executions').first()?.json?.data || [];\nconst failures = allFailures.filter(f => f.workflowId !== SELF_ID);\n\nreturn [{\n  json: {\n    run_id: 'run_' + Date.now(),\n    timestamp: new Date().toISOString(),\n    pending_tasks: queue,\n    failed_count: failures.length,\n    failures: failures.slice(0, 5).map(f => ({\n      id: f.id,\n      workflowId: f.workflowId,\n      status: f.status,\n      stoppedAt: f.stoppedAt\n    }))\n  }\n}];"},"id":"build_context","name":"Build Context","type":"n8n-nodes-base.code","typeVersion":2,"position":[620,300]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"{{ANTHROPIC_API_KEY}}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 2048, system: 'You are GARZA OS Autonomous Agent. You run every 15 minutes to maintain Jaden\\'s systems.\\n\\nRESPOND WITH VALID JSON ONLY (no markdown, no code blocks):\\n{\\n  \"analysis\": \"Brief summary of what you observed\",\\n  \"actions\": [{\"type\": \"fix|notify|skip\", \"target\": \"workflow/task id\", \"details\": \"what to do\"}],\\n  \"notify_user\": false,\\n  \"notification_reason\": \"only if notify_user is true\",\\n  \"learnings\": [{\"observation\": \"what you learned\", \"should_repeat\": true}]\\n}\\n\\nRULES:\\n- Never make purchases\\n- Only notify for genuine issues requiring human judgment\\n- Log everything\\n- Fix simple issues automatically\\n- Skip if nothing needs attention', messages: [{ role: 'user', content: 'Current system state:\\n' + JSON.stringify($json, null, 2) + '\\n\\nAnalyze and respond with JSON.' }] }) }}"},"id":"claude_reason","name":"Claude Reasoning","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[840,300]},{"parameters":{"jsCode":"const response = $input.first().json;\nlet text = response.content?.[0]?.text || '{}';\nlet parsed = { analysis: 'No response', actions: [], notify_user: false, learnings: [] };\n\ntry {\n  // Remove markdown code blocks if present\n  text = text.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  const match = text.match(/\\{[\\s\\S]*\\}/);\n  if (match) parsed = JSON.parse(match[0]);\n} catch (e) {\n  parsed.analysis = 'Parse error: ' + e.message;\n  parsed.notify_user = true;\n  parsed.notification_reason = 'Failed to parse Claude response';\n}\n\nparsed.run_id = $('Build Context').first().json.run_id;\nparsed.timestamp = $('Build Context').first().json.timestamp;\nreturn [{ json: parsed }];"},"id":"parse_response","name":"Parse Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1060,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"notify_check","leftValue":"={{ $json.notify_user }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}]}},"id":"should_notify","name":"Should Notify?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1280,300]},{"parameters":{"method":"POST","url":"https://mcp.beeper.com/direct","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer {{BEEPER_TOKEN}}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ jsonrpc: '2.0', id: 1, method: 'tools/call', params: { name: 'send_message', arguments: { chatID: 'imessage:;-;81d29dce59aa19a1', text: '🤖 **GARZA OS Agent**\\n\\n' + ($json.notification_reason || 'Check needed') + '\\n\\nAnalysis: ' + $json.analysis } } }) }}"},"id":"notify_jaden","name":"Notify Jaden","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1500,200]},{"parameters":{},"id":"noop","name":"Silent Operation","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1500,400]},{"parameters":{"method":"POST","url":"https://api.cloudflare.com/client/v4/accounts/14adde85f76060c6edef6f3239d36e6a/d1/database/b09efd12-2be0-4d90-8a7a-dc4fcf16fc85/query","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer {{CF_D1_TOKEN}}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ sql: \"INSERT INTO agent_runs (run_id, started_at, completed_at, reasoning, actions_taken, notified_user) VALUES ('\" + $json.run_id + \"', '\" + $json.timestamp + \"', datetime('now'), '\" + ($json.analysis || '').replace(/'/g, \"''\") + \"', '\" + JSON.stringify($json.actions || []).replace(/'/g, \"''\") + \"', \" + ($json.notify_user ? 1 : 0) + \")\" }) }}"},"id":"log_run","name":"Log to D1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1720,300]}],"connections":{"Every 15 Minutes":{"main":[[{"node":"Get Failed Executions","type":"main","index":0},{"node":"Get Task Queue","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Get Failed Executions","type":"main","index":0},{"node":"Get Task Queue","type":"main","index":0}]]},"Get Failed Executions":{"main":[[{"node":"Build Context","type":"main","index":0}]]},"Get Task Queue":{"main":[[{"node":"Build Context","type":"main","index":0}]]},"Build Context":{"main":[[{"node":"Claude Reasoning","type":"main","index":0}]]},"Claude Reasoning":{"main":[[{"node":"Parse Response","type":"main","index":0}]]},"Parse Response":{"main":[[{"node":"Should Notify?","type":"main","index":0}]]},"Should Notify?":{"main":[[{"node":"Notify Jaden","type":"main","index":0}],[{"node":"Silent Operation","type":"main","index":0}]]},"Notify Jaden":{"main":[[{"node":"Log to D1","type":"main","index":0}]]},"Silent Operation":{"main":[[{"node":"Log to D1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Every 15 Minutes":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"e601a261-35bb-4357-95c9-1235d61bf095","activeVersionId":"e601a261-35bb-4357-95c9-1235d61bf095","versionCounter":4,"triggerCount":2,"shared":[{"updatedAt":"2025-12-26T02:51:00.659Z","createdAt":"2025-12-26T02:51:00.659Z","role":"workflow:owner","workflowId":"QtLA4ucmSgy22PPT","projectId":"ZRKSWWwtaPZqyYf5","project":{"updatedAt":"2025-11-03T23:37:11.788Z","createdAt":"2025-11-03T23:37:07.919Z","id":"ZRKSWWwtaPZqyYf5","name":"jaden   <garzasecure@pm.me>","type":"personal","icon":null,"description":null,"creatorId":"250860b0-4a62-43fe-9aa8-f58058408f22","projectRelations":[{"updatedAt":"2025-11-03T23:37:07.920Z","createdAt":"2025-11-03T23:37:07.920Z","userId":"250860b0-4a62-43fe-9aa8-f58058408f22","projectId":"ZRKSWWwtaPZqyYf5","user":{"updatedAt":"2025-12-26T06:00:27.000Z","createdAt":"2025-11-03T23:37:06.499Z","id":"250860b0-4a62-43fe-9aa8-f58058408f22","email":"garzasecure@pm.me","firstName":"jaden","lastName":" ","personalizationAnswers":null,"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"fbeHV6ioUQZwXHfF","userActivatedAt":1766710827089},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-12-26","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2025-12-26T02:51:00.682Z","createdAt":"2025-12-26T02:51:00.682Z","versionId":"e601a261-35bb-4357-95c9-1235d61bf095","workflowId":"QtLA4ucmSgy22PPT","nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"id":"schedule","name":"Every 15 Minutes","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[180,300]},{"parameters":{"httpMethod":"POST","path":"agent-run","options":{}},"id":"webhook","name":"Manual Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[180,500],"webhookId":"agent-run-webhook"},{"parameters":{"method":"GET","url":"https://garzasync.app.n8n.cloud/api/v1/executions?status=error&limit=10","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-API-KEY","value":"{{N8N_API_KEY}}"}]}},"id":"get_failed","name":"Get Failed Executions","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,400]},{"parameters":{"method":"POST","url":"https://api.cloudflare.com/client/v4/accounts/14adde85f76060c6edef6f3239d36e6a/d1/database/b09efd12-2be0-4d90-8a7a-dc4fcf16fc85/query","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer {{CF_D1_TOKEN}}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\"sql\": \"SELECT * FROM agent_queue WHERE status = 'pending' ORDER BY priority DESC LIMIT 5\"}"},"id":"get_queue","name":"Get Task Queue","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,200]},{"parameters":{"jsCode":"const SELF_ID = $workflow.id;\nconst queue = $('Get Task Queue').first()?.json?.result?.[0]?.results || [];\nconst allFailures = $('Get Failed Executions').first()?.json?.data || [];\nconst failures = allFailures.filter(f => f.workflowId !== SELF_ID);\n\nreturn [{\n  json: {\n    run_id: 'run_' + Date.now(),\n    timestamp: new Date().toISOString(),\n    pending_tasks: queue,\n    failed_count: failures.length,\n    failures: failures.slice(0, 5).map(f => ({\n      id: f.id,\n      workflowId: f.workflowId,\n      status: f.status,\n      stoppedAt: f.stoppedAt\n    }))\n  }\n}];"},"id":"build_context","name":"Build Context","type":"n8n-nodes-base.code","typeVersion":2,"position":[620,300]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"{{ANTHROPIC_API_KEY}}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 2048, system: 'You are GARZA OS Autonomous Agent. You run every 15 minutes to maintain Jaden\\'s systems.\\n\\nRESPOND WITH VALID JSON ONLY (no markdown, no code blocks):\\n{\\n  \"analysis\": \"Brief summary of what you observed\",\\n  \"actions\": [{\"type\": \"fix|notify|skip\", \"target\": \"workflow/task id\", \"details\": \"what to do\"}],\\n  \"notify_user\": false,\\n  \"notification_reason\": \"only if notify_user is true\",\\n  \"learnings\": [{\"observation\": \"what you learned\", \"should_repeat\": true}]\\n}\\n\\nRULES:\\n- Never make purchases\\n- Only notify for genuine issues requiring human judgment\\n- Log everything\\n- Fix simple issues automatically\\n- Skip if nothing needs attention', messages: [{ role: 'user', content: 'Current system state:\\n' + JSON.stringify($json, null, 2) + '\\n\\nAnalyze and respond with JSON.' }] }) }}"},"id":"claude_reason","name":"Claude Reasoning","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[840,300]},{"parameters":{"jsCode":"const response = $input.first().json;\nlet text = response.content?.[0]?.text || '{}';\nlet parsed = { analysis: 'No response', actions: [], notify_user: false, learnings: [] };\n\ntry {\n  // Remove markdown code blocks if present\n  text = text.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  const match = text.match(/\\{[\\s\\S]*\\}/);\n  if (match) parsed = JSON.parse(match[0]);\n} catch (e) {\n  parsed.analysis = 'Parse error: ' + e.message;\n  parsed.notify_user = true;\n  parsed.notification_reason = 'Failed to parse Claude response';\n}\n\nparsed.run_id = $('Build Context').first().json.run_id;\nparsed.timestamp = $('Build Context').first().json.timestamp;\nreturn [{ json: parsed }];"},"id":"parse_response","name":"Parse Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1060,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"notify_check","leftValue":"={{ $json.notify_user }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}]}},"id":"should_notify","name":"Should Notify?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1280,300]},{"parameters":{"method":"POST","url":"https://mcp.beeper.com/direct","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer {{BEEPER_TOKEN}}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ jsonrpc: '2.0', id: 1, method: 'tools/call', params: { name: 'send_message', arguments: { chatID: 'imessage:;-;81d29dce59aa19a1', text: '🤖 **GARZA OS Agent**\\n\\n' + ($json.notification_reason || 'Check needed') + '\\n\\nAnalysis: ' + $json.analysis } } }) }}"},"id":"notify_jaden","name":"Notify Jaden","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1500,200]},{"parameters":{},"id":"noop","name":"Silent Operation","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1500,400]},{"parameters":{"method":"POST","url":"https://api.cloudflare.com/client/v4/accounts/14adde85f76060c6edef6f3239d36e6a/d1/database/b09efd12-2be0-4d90-8a7a-dc4fcf16fc85/query","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer {{CF_D1_TOKEN}}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ sql: \"INSERT INTO agent_runs (run_id, started_at, completed_at, reasoning, actions_taken, notified_user) VALUES ('\" + $json.run_id + \"', '\" + $json.timestamp + \"', datetime('now'), '\" + ($json.analysis || '').replace(/'/g, \"''\") + \"', '\" + JSON.stringify($json.actions || []).replace(/'/g, \"''\") + \"', \" + ($json.notify_user ? 1 : 0) + \")\" }) }}"},"id":"log_run","name":"Log to D1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1720,300]}],"connections":{"Every 15 Minutes":{"main":[[{"node":"Get Failed Executions","type":"main","index":0},{"node":"Get Task Queue","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Get Failed Executions","type":"main","index":0},{"node":"Get Task Queue","type":"main","index":0}]]},"Get Failed Executions":{"main":[[{"node":"Build Context","type":"main","index":0}]]},"Get Task Queue":{"main":[[{"node":"Build Context","type":"main","index":0}]]},"Build Context":{"main":[[{"node":"Claude Reasoning","type":"main","index":0}]]},"Claude Reasoning":{"main":[[{"node":"Parse Response","type":"main","index":0}]]},"Parse Response":{"main":[[{"node":"Should Notify?","type":"main","index":0}]]},"Should Notify?":{"main":[[{"node":"Notify Jaden","type":"main","index":0}],[{"node":"Silent Operation","type":"main","index":0}]]},"Notify Jaden":{"main":[[{"node":"Log to D1","type":"main","index":0}]]},"Silent Operation":{"main":[[{"node":"Log to D1","type":"main","index":0}]]}},"authors":"jaden  ","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2025-12-26T02:51:26.565Z","id":67,"workflowId":"QtLA4ucmSgy22PPT","versionId":"e601a261-35bb-4357-95c9-1235d61bf095","event":"activated","userId":"250860b0-4a62-43fe-9aa8-f58058408f22"}]}}