n8n-workflows/garzasync-cloud/Garza-Ears-HTTP-Pipeline.json
{"updatedAt":"2025-12-26T00:13:56.396Z","createdAt":"2025-12-26T00:13:56.396Z","id":"PpLcULaQV2s4Hwe4","name":"Garza Ears - HTTP Pipeline","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"voice-memo","responseMode":"responseNode","options":{}},"id":"webhook","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"webhookId":"voice-memo"},{"parameters":{"jsCode":"const input = $input.first().json; let audioData = input.audio_base64 || input.body?.audio_base64; if (!audioData) throw new Error('No audio_base64 found'); const buffer = Buffer.from(audioData, 'base64'); return [{ json: { ...input }, binary: { audio: { data: buffer.toString('base64'), mimeType: 'audio/wav', fileName: 'voice.wav' } } }];"},"id":"decode","name":"Decode Base64","type":"n8n-nodes-base.code","typeVersion":2,"position":[450,300]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/audio/transcriptions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer {{OPENAI_API_KEY}}"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"model","value":"whisper-1"},{"name":"file","parameterType":"formBinaryData","inputDataFieldName":"audio"}]}},"id":"whisper","name":"Whisper API","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[650,300]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"{{ANTHROPIC_API_KEY}}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"model\":\"claude-sonnet-4-20250514\",\"max_tokens\":2000,\"messages\":[{\"role\":\"user\",\"content\":\"Optimize this voice memo transcript. Fix errors, add punctuation, format clearly. Keep the original meaning: {{ $json.text }}\"}]}"},"id":"claude","name":"Claude API","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[850,300]},{"parameters":{"respondWith":"json","responseBody":"={{ { success: true, transcript: $json.content[0].text } }}"},"id":"respond","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1050,300]}],"connections":{"Webhook":{"main":[[{"node":"Decode Base64","type":"main","index":0}]]},"Decode Base64":{"main":[[{"node":"Whisper API","type":"main","index":0}]]},"Whisper API":{"main":[[{"node":"Claude API","type":"main","index":0}]]},"Claude API":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"16ea256f-82eb-469d-8bd4-904e81423699","activeVersionId":"16ea256f-82eb-469d-8bd4-904e81423699","versionCounter":3,"triggerCount":1,"shared":[{"updatedAt":"2025-12-26T00:13:56.398Z","createdAt":"2025-12-26T00:13:56.398Z","role":"workflow:owner","workflowId":"PpLcULaQV2s4Hwe4","projectId":"ZRKSWWwtaPZqyYf5","project":{"updatedAt":"2025-11-03T23:37:11.788Z","createdAt":"2025-11-03T23:37:07.919Z","id":"ZRKSWWwtaPZqyYf5","name":"jaden   <garzasecure@pm.me>","type":"personal","icon":null,"description":null,"creatorId":"250860b0-4a62-43fe-9aa8-f58058408f22","projectRelations":[{"updatedAt":"2025-11-03T23:37:07.920Z","createdAt":"2025-11-03T23:37:07.920Z","userId":"250860b0-4a62-43fe-9aa8-f58058408f22","projectId":"ZRKSWWwtaPZqyYf5","user":{"updatedAt":"2025-12-26T06:00:27.000Z","createdAt":"2025-11-03T23:37:06.499Z","id":"250860b0-4a62-43fe-9aa8-f58058408f22","email":"garzasecure@pm.me","firstName":"jaden","lastName":" ","personalizationAnswers":null,"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"fbeHV6ioUQZwXHfF","userActivatedAt":1766710827089},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-12-26","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2025-12-26T00:13:56.425Z","createdAt":"2025-12-26T00:13:56.425Z","versionId":"16ea256f-82eb-469d-8bd4-904e81423699","workflowId":"PpLcULaQV2s4Hwe4","nodes":[{"parameters":{"httpMethod":"POST","path":"voice-memo","responseMode":"responseNode","options":{}},"id":"webhook","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"webhookId":"voice-memo"},{"parameters":{"jsCode":"const input = $input.first().json; let audioData = input.audio_base64 || input.body?.audio_base64; if (!audioData) throw new Error('No audio_base64 found'); const buffer = Buffer.from(audioData, 'base64'); return [{ json: { ...input }, binary: { audio: { data: buffer.toString('base64'), mimeType: 'audio/wav', fileName: 'voice.wav' } } }];"},"id":"decode","name":"Decode Base64","type":"n8n-nodes-base.code","typeVersion":2,"position":[450,300]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/audio/transcriptions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer {{OPENAI_API_KEY}}"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"model","value":"whisper-1"},{"name":"file","parameterType":"formBinaryData","inputDataFieldName":"audio"}]}},"id":"whisper","name":"Whisper API","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[650,300]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"{{ANTHROPIC_API_KEY}}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"model\":\"claude-sonnet-4-20250514\",\"max_tokens\":2000,\"messages\":[{\"role\":\"user\",\"content\":\"Optimize this voice memo transcript. Fix errors, add punctuation, format clearly. Keep the original meaning: {{ $json.text }}\"}]}"},"id":"claude","name":"Claude API","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[850,300]},{"parameters":{"respondWith":"json","responseBody":"={{ { success: true, transcript: $json.content[0].text } }}"},"id":"respond","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1050,300]}],"connections":{"Webhook":{"main":[[{"node":"Decode Base64","type":"main","index":0}]]},"Decode Base64":{"main":[[{"node":"Whisper API","type":"main","index":0}]]},"Whisper API":{"main":[[{"node":"Claude API","type":"main","index":0}]]},"Claude API":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"authors":"jaden  ","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2025-12-26T00:13:56.737Z","id":22,"workflowId":"PpLcULaQV2s4Hwe4","versionId":"16ea256f-82eb-469d-8bd4-904e81423699","event":"activated","userId":"250860b0-4a62-43fe-9aa8-f58058408f22"}]}}