n8n-workflows/garzasync-cloud/Garza-Factory-Workflow-Generator.json
{"updatedAt":"2025-12-26T00:15:56.693Z","createdAt":"2025-12-26T00:15:56.693Z","id":"IJ0eC4n9zyaYLENl","name":"Garza Factory - Workflow Generator","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"generate-workflow","responseMode":"responseNode","options":{}},"id":"webhook","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"webhookId":"generate-workflow"},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"{{ANTHROPIC_API_KEY}}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"model\":\"claude-sonnet-4-20250514\",\"max_tokens\":4000,\"messages\":[{\"role\":\"user\",\"content\":\"Generate an n8n workflow JSON based on this request. Return ONLY valid JSON, no explanation: {{ $json.body.request }}\"}]}"},"id":"claude","name":"Claude API","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[450,300]},{"parameters":{"respondWith":"json","responseBody":"={{ {workflow: $json.content[0].text} }}"},"id":"respond","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[650,300]}],"connections":{"Webhook":{"main":[[{"node":"Claude API","type":"main","index":0}]]},"Claude API":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"68fbb931-0584-49c4-a0f2-99e4cfe35117","activeVersionId":"68fbb931-0584-49c4-a0f2-99e4cfe35117","versionCounter":3,"triggerCount":1,"shared":[{"updatedAt":"2025-12-26T00:15:56.696Z","createdAt":"2025-12-26T00:15:56.696Z","role":"workflow:owner","workflowId":"IJ0eC4n9zyaYLENl","projectId":"ZRKSWWwtaPZqyYf5","project":{"updatedAt":"2025-11-03T23:37:11.788Z","createdAt":"2025-11-03T23:37:07.919Z","id":"ZRKSWWwtaPZqyYf5","name":"jaden   <garzasecure@pm.me>","type":"personal","icon":null,"description":null,"creatorId":"250860b0-4a62-43fe-9aa8-f58058408f22","projectRelations":[{"updatedAt":"2025-11-03T23:37:07.920Z","createdAt":"2025-11-03T23:37:07.920Z","userId":"250860b0-4a62-43fe-9aa8-f58058408f22","projectId":"ZRKSWWwtaPZqyYf5","user":{"updatedAt":"2025-12-26T06:00:27.000Z","createdAt":"2025-11-03T23:37:06.499Z","id":"250860b0-4a62-43fe-9aa8-f58058408f22","email":"garzasecure@pm.me","firstName":"jaden","lastName":" ","personalizationAnswers":null,"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"fbeHV6ioUQZwXHfF","userActivatedAt":1766710827089},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-12-26","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2025-12-26T00:15:56.723Z","createdAt":"2025-12-26T00:15:56.723Z","versionId":"68fbb931-0584-49c4-a0f2-99e4cfe35117","workflowId":"IJ0eC4n9zyaYLENl","nodes":[{"parameters":{"httpMethod":"POST","path":"generate-workflow","responseMode":"responseNode","options":{}},"id":"webhook","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"webhookId":"generate-workflow"},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"{{ANTHROPIC_API_KEY}}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"model\":\"claude-sonnet-4-20250514\",\"max_tokens\":4000,\"messages\":[{\"role\":\"user\",\"content\":\"Generate an n8n workflow JSON based on this request. Return ONLY valid JSON, no explanation: {{ $json.body.request }}\"}]}"},"id":"claude","name":"Claude API","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[450,300]},{"parameters":{"respondWith":"json","responseBody":"={{ {workflow: $json.content[0].text} }}"},"id":"respond","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[650,300]}],"connections":{"Webhook":{"main":[[{"node":"Claude API","type":"main","index":0}]]},"Claude API":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"authors":"jaden  ","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2025-12-26T00:15:57.031Z","id":26,"workflowId":"IJ0eC4n9zyaYLENl","versionId":"68fbb931-0584-49c4-a0f2-99e4cfe35117","event":"activated","userId":"250860b0-4a62-43fe-9aa8-f58058408f22"}]}}