n8n-workflows/garzasync-cloud/GARZA-OS-Autonomous-Agent-v3.json
{"updatedAt":"2025-12-26T03:47:05.897Z","createdAt":"2025-12-26T03:19:51.550Z","id":"4C5ONaeNq6hErgdo","name":"GARZA OS Autonomous Agent v3","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"name":"Every 15 Minutes","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[220,300],"id":"trigger-schedule"},{"parameters":{"httpMethod":"POST","path":"garza-agent-v3","responseMode":"responseNode"},"name":"Manual Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[220,500],"webhookId":"garza-agent-v3","id":"trigger-webhook"},{"parameters":{"method":"GET","url":"https://garzasync.app.n8n.cloud/api/v1/executions","sendQuery":true,"queryParameters":{"parameters":[{"name":"status","value":"error"},{"name":"limit","value":"10"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-API-KEY","value":"{{N8N_API_KEY}}"}]},"options":{}},"name":"Get Failed Executions","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,200],"id":"get-failures"},{"parameters":{"method":"GET","url":"https://garzasync.app.n8n.cloud/api/v1/workflows","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-API-KEY","value":"{{N8N_API_KEY}}"}]},"options":{}},"name":"Get All Workflows","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,400],"id":"get-workflows"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"name":"Merge Data","type":"n8n-nodes-base.merge","typeVersion":3,"position":[740,300],"id":"merge-data"},{"parameters":{"jsCode":"const items = $input.all();\nlet failures = [];\nlet workflows = [];\nfor (const item of items) {\n  if (item.json.data && Array.isArray(item.json.data)) {\n    if (item.json.data[0]?.status) { failures = item.json.data; }\n    else if (item.json.data[0]?.nodes) { workflows = item.json.data; }\n  }\n}\nconst selfId = $execution.workflowId;\nconst selfHealingId = 'ScSmqCrvcDOkGVjM';\nconst relevantFailures = failures.filter(f => f.workflowId !== selfId && f.workflowId !== selfHealingId).slice(0, 5);\nconst workflowMap = {};\nworkflows.forEach(w => { workflowMap[w.id] = w.name; });\nconst context = {\n  timestamp: new Date().toISOString(),\n  selfWorkflowId: selfId,\n  failedExecutions: relevantFailures.map(f => ({executionId: f.id, workflowId: f.workflowId, workflowName: workflowMap[f.workflowId] || 'Unknown', status: f.status, startedAt: f.startedAt})),\n  totalWorkflows: workflows.length,\n  activeWorkflows: workflows.filter(w => w.active).length\n};\nreturn { json: context };"},"name":"Build Context","type":"n8n-nodes-base.code","typeVersion":2,"position":[980,300],"id":"build-context"},{"parameters":{"jsCode":"const context = $input.first().json;\nconst body = {\n  model: 'claude-sonnet-4-20250514',\n  max_tokens: 4096,\n  system: 'You are GARZA OS Autonomous Agent v3. You run every 15 min WITHOUT human intervention. You have TOOLS. FIX issues if possible. Only notify for critical issues. NEVER make purchases.',\n  tools: [\n    {name: 'fix_workflow', description: 'Update workflow JSON to apply fix', input_schema: {type: 'object', properties: {workflow_id: {type: 'string'}, fix_description: {type: 'string'}, node_name: {type: 'string'}}, required: ['workflow_id', 'fix_description']}},\n    {name: 'activate_workflow', description: 'Activate or deactivate a workflow', input_schema: {type: 'object', properties: {workflow_id: {type: 'string'}, active: {type: 'boolean'}}, required: ['workflow_id', 'active']}},\n    {name: 'send_notification', description: 'Send push notification - ONLY for critical issues', input_schema: {type: 'object', properties: {title: {type: 'string'}, message: {type: 'string'}, is_critical: {type: 'boolean'}}, required: ['title', 'message']}},\n    {name: 'no_action_needed', description: 'Use when everything healthy', input_schema: {type: 'object', properties: {reason: {type: 'string'}}, required: ['reason']}}\n  ],\n  messages: [{role: 'user', content: 'System state:\\n' + JSON.stringify(context, null, 2) + '\\n\\nAnalyze and take action.'}]\n};\nreturn {json: {requestBody: body}};"},"name":"Prepare Claude Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[1220,300],"id":"prepare-claude"},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"{{ANTHROPIC_API_KEY}}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.requestBody) }}","options":{}},"name":"Claude Tool Use","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1460,300],"id":"claude-reasoning"},{"parameters":{"jsCode":"const response = $input.first().json;\nconst content = response.content || [];\nconst toolCalls = content.filter(c => c.type === 'tool_use');\nif (toolCalls.length === 0) {\n  return [{ json: { hasToolCalls: false, toolCalls: [], textResponse: content.find(c => c.type === 'text')?.text || '' } }];\n}\nreturn [{ json: { hasToolCalls: true, toolCalls: toolCalls.map(t => ({id: t.id, name: t.name, input: t.input})), textResponse: content.find(c => c.type === 'text')?.text || '' } }];"},"name":"Parse Tool Calls","type":"n8n-nodes-base.code","typeVersion":2,"position":[1700,300],"id":"parse-tools"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"tool-check","leftValue":"={{ $json.hasToolCalls }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"}},"name":"Has Tool Calls?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1940,300],"id":"check-tools"},{"parameters":{"fieldToSplitOut":"toolCalls","options":{}},"name":"Split Tool Calls","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2180,200],"id":"split-tools"},{"parameters":{"rules":{"values":[{"outputKey":"fix_workflow","conditions":{"conditions":[{"leftValue":"={{ $json.name }}","rightValue":"fix_workflow","operator":{"type":"string","operation":"equals"}}]}},{"outputKey":"activate_workflow","conditions":{"conditions":[{"leftValue":"={{ $json.name }}","rightValue":"activate_workflow","operator":{"type":"string","operation":"equals"}}]}},{"outputKey":"send_notification","conditions":{"conditions":[{"leftValue":"={{ $json.name }}","rightValue":"send_notification","operator":{"type":"string","operation":"equals"}}]}},{"outputKey":"no_action","conditions":{"conditions":[{"leftValue":"={{ $json.name }}","rightValue":"no_action_needed","operator":{"type":"string","operation":"equals"}}]}}]},"options":{}},"name":"Route Tool Call","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2420,200],"id":"route-tools"},{"parameters":{"method":"GET","url":"=https://garzasync.app.n8n.cloud/api/v1/workflows/{{ $json.input.workflow_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-API-KEY","value":"{{N8N_API_KEY}}"}]},"options":{}},"name":"Get Workflow JSON","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2660,0],"id":"get-workflow"},{"parameters":{"jsCode":"const toolInput = $('Route Tool Call').first().json.input;\nconst workflow = $input.first().json;\nreturn [{json: {action: 'fix_attempted', workflowId: toolInput.workflow_id, workflowName: workflow.name, fixDescription: toolInput.fix_description, nodeName: toolInput.node_name || 'N/A', timestamp: new Date().toISOString(), status: 'logged_for_review'}}];"},"name":"Apply Fix","type":"n8n-nodes-base.code","typeVersion":2,"position":[2900,0],"id":"apply-fix"},{"parameters":{"method":"PATCH","url":"=https://garzasync.app.n8n.cloud/api/v1/workflows/{{ $json.input.workflow_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-API-KEY","value":"{{N8N_API_KEY}}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ active: $json.input.active }) }}","options":{}},"name":"Toggle Workflow","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2660,200],"id":"toggle-workflow"},{"parameters":{"method":"POST","url":"https://api.pushcut.io/xBLsCi64KX6pDdpQI1rAB/notifications/GARZA%20OS%20Agent","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({title: $json.input.title, text: $json.input.message, isTimeSensitive: $json.input.is_critical || false}) }}","options":{}},"name":"Send Push Notification","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2660,400],"id":"send-push"},{"parameters":{"jsCode":"return [{ json: { action: 'no_action_needed', reason: $json.input?.reason || 'System healthy', timestamp: new Date().toISOString() } }];"},"name":"No Actions Needed","type":"n8n-nodes-base.code","typeVersion":2,"position":[2180,400],"id":"no-action"},{"parameters":{"jsCode":"const results = $input.all();\nreturn [{json: {runComplete: true, timestamp: new Date().toISOString(), actionsExecuted: results.length, summary: results.map(r => r.json)}}];"},"name":"Finalize Run","type":"n8n-nodes-base.code","typeVersion":2,"position":[3140,300],"id":"finalize"},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"name":"Webhook Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[3380,300],"id":"webhook-response"}],"connections":{"Every 15 Minutes":{"main":[[{"node":"Get Failed Executions","type":"main","index":0},{"node":"Get All Workflows","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Get Failed Executions","type":"main","index":0},{"node":"Get All Workflows","type":"main","index":0}]]},"Get Failed Executions":{"main":[[{"node":"Merge Data","type":"main","index":0}]]},"Get All Workflows":{"main":[[{"node":"Merge Data","type":"main","index":1}]]},"Merge Data":{"main":[[{"node":"Build Context","type":"main","index":0}]]},"Build Context":{"main":[[{"node":"Prepare Claude Request","type":"main","index":0}]]},"Prepare Claude Request":{"main":[[{"node":"Claude Tool Use","type":"main","index":0}]]},"Claude Tool Use":{"main":[[{"node":"Parse Tool Calls","type":"main","index":0}]]},"Parse Tool Calls":{"main":[[{"node":"Has Tool Calls?","type":"main","index":0}]]},"Has Tool Calls?":{"main":[[{"node":"Split Tool Calls","type":"main","index":0}],[{"node":"No Actions Needed","type":"main","index":0}]]},"Split Tool Calls":{"main":[[{"node":"Route Tool Call","type":"main","index":0}]]},"Route Tool Call":{"main":[[{"node":"Get Workflow JSON","type":"main","index":0}],[{"node":"Toggle Workflow","type":"main","index":0}],[{"node":"Send Push Notification","type":"main","index":0}],[{"node":"Finalize Run","type":"main","index":0}]]},"Get Workflow JSON":{"main":[[{"node":"Apply Fix","type":"main","index":0}]]},"Apply Fix":{"main":[[{"node":"Finalize Run","type":"main","index":0}]]},"Toggle Workflow":{"main":[[{"node":"Finalize Run","type":"main","index":0}]]},"Send Push Notification":{"main":[[{"node":"Finalize Run","type":"main","index":0}]]},"No Actions Needed":{"main":[[{"node":"Finalize Run","type":"main","index":0}]]},"Finalize Run":{"main":[[{"node":"Webhook Response","type":"main","index":0}]]}},"settings":{"errorWorkflow":"ScSmqCrvcDOkGVjM","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"executionOrder":"v1","saveExecutionProgress":true,"saveManualExecutions":true},"staticData":{"node:Every 15 Minutes":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"d9b5412e-d018-4364-a5ac-dca33a3a6a3f","activeVersionId":"d9b5412e-d018-4364-a5ac-dca33a3a6a3f","versionCounter":13,"triggerCount":2,"shared":[{"updatedAt":"2025-12-26T03:19:51.552Z","createdAt":"2025-12-26T03:19:51.552Z","role":"workflow:owner","workflowId":"4C5ONaeNq6hErgdo","projectId":"ZRKSWWwtaPZqyYf5","project":{"updatedAt":"2025-11-03T23:37:11.788Z","createdAt":"2025-11-03T23:37:07.919Z","id":"ZRKSWWwtaPZqyYf5","name":"jaden   <garzasecure@pm.me>","type":"personal","icon":null,"description":null,"creatorId":"250860b0-4a62-43fe-9aa8-f58058408f22","projectRelations":[{"updatedAt":"2025-11-03T23:37:07.920Z","createdAt":"2025-11-03T23:37:07.920Z","userId":"250860b0-4a62-43fe-9aa8-f58058408f22","projectId":"ZRKSWWwtaPZqyYf5","user":{"updatedAt":"2025-12-26T06:00:27.000Z","createdAt":"2025-11-03T23:37:06.499Z","id":"250860b0-4a62-43fe-9aa8-f58058408f22","email":"garzasecure@pm.me","firstName":"jaden","lastName":" ","personalizationAnswers":null,"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"fbeHV6ioUQZwXHfF","userActivatedAt":1766710827089},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-12-26","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2025-12-26T03:47:05.898Z","createdAt":"2025-12-26T03:47:05.898Z","versionId":"d9b5412e-d018-4364-a5ac-dca33a3a6a3f","workflowId":"4C5ONaeNq6hErgdo","nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"name":"Every 15 Minutes","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[220,300],"id":"trigger-schedule"},{"parameters":{"httpMethod":"POST","path":"garza-agent-v3","responseMode":"responseNode"},"name":"Manual Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[220,500],"webhookId":"garza-agent-v3","id":"trigger-webhook"},{"parameters":{"method":"GET","url":"https://garzasync.app.n8n.cloud/api/v1/executions","sendQuery":true,"queryParameters":{"parameters":[{"name":"status","value":"error"},{"name":"limit","value":"10"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-API-KEY","value":"{{N8N_API_KEY}}"}]},"options":{}},"name":"Get Failed Executions","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,200],"id":"get-failures"},{"parameters":{"method":"GET","url":"https://garzasync.app.n8n.cloud/api/v1/workflows","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-API-KEY","value":"{{N8N_API_KEY}}"}]},"options":{}},"name":"Get All Workflows","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,400],"id":"get-workflows"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"name":"Merge Data","type":"n8n-nodes-base.merge","typeVersion":3,"position":[740,300],"id":"merge-data"},{"parameters":{"jsCode":"const items = $input.all();\nlet failures = [];\nlet workflows = [];\nfor (const item of items) {\n  if (item.json.data && Array.isArray(item.json.data)) {\n    if (item.json.data[0]?.status) { failures = item.json.data; }\n    else if (item.json.data[0]?.nodes) { workflows = item.json.data; }\n  }\n}\nconst selfId = $execution.workflowId;\nconst selfHealingId = 'ScSmqCrvcDOkGVjM';\nconst relevantFailures = failures.filter(f => f.workflowId !== selfId && f.workflowId !== selfHealingId).slice(0, 5);\nconst workflowMap = {};\nworkflows.forEach(w => { workflowMap[w.id] = w.name; });\nconst context = {\n  timestamp: new Date().toISOString(),\n  selfWorkflowId: selfId,\n  failedExecutions: relevantFailures.map(f => ({executionId: f.id, workflowId: f.workflowId, workflowName: workflowMap[f.workflowId] || 'Unknown', status: f.status, startedAt: f.startedAt})),\n  totalWorkflows: workflows.length,\n  activeWorkflows: workflows.filter(w => w.active).length\n};\nreturn { json: context };"},"name":"Build Context","type":"n8n-nodes-base.code","typeVersion":2,"position":[980,300],"id":"build-context"},{"parameters":{"jsCode":"const context = $input.first().json;\nconst body = {\n  model: 'claude-sonnet-4-20250514',\n  max_tokens: 4096,\n  system: 'You are GARZA OS Autonomous Agent v3. You run every 15 min WITHOUT human intervention. You have TOOLS. FIX issues if possible. Only notify for critical issues. NEVER make purchases.',\n  tools: [\n    {name: 'fix_workflow', description: 'Update workflow JSON to apply fix', input_schema: {type: 'object', properties: {workflow_id: {type: 'string'}, fix_description: {type: 'string'}, node_name: {type: 'string'}}, required: ['workflow_id', 'fix_description']}},\n    {name: 'activate_workflow', description: 'Activate or deactivate a workflow', input_schema: {type: 'object', properties: {workflow_id: {type: 'string'}, active: {type: 'boolean'}}, required: ['workflow_id', 'active']}},\n    {name: 'send_notification', description: 'Send push notification - ONLY for critical issues', input_schema: {type: 'object', properties: {title: {type: 'string'}, message: {type: 'string'}, is_critical: {type: 'boolean'}}, required: ['title', 'message']}},\n    {name: 'no_action_needed', description: 'Use when everything healthy', input_schema: {type: 'object', properties: {reason: {type: 'string'}}, required: ['reason']}}\n  ],\n  messages: [{role: 'user', content: 'System state:\\n' + JSON.stringify(context, null, 2) + '\\n\\nAnalyze and take action.'}]\n};\nreturn {json: {requestBody: body}};"},"name":"Prepare Claude Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[1220,300],"id":"prepare-claude"},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"{{ANTHROPIC_API_KEY}}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.requestBody) }}","options":{}},"name":"Claude Tool Use","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1460,300],"id":"claude-reasoning"},{"parameters":{"jsCode":"const response = $input.first().json;\nconst content = response.content || [];\nconst toolCalls = content.filter(c => c.type === 'tool_use');\nif (toolCalls.length === 0) {\n  return [{ json: { hasToolCalls: false, toolCalls: [], textResponse: content.find(c => c.type === 'text')?.text || '' } }];\n}\nreturn [{ json: { hasToolCalls: true, toolCalls: toolCalls.map(t => ({id: t.id, name: t.name, input: t.input})), textResponse: content.find(c => c.type === 'text')?.text || '' } }];"},"name":"Parse Tool Calls","type":"n8n-nodes-base.code","typeVersion":2,"position":[1700,300],"id":"parse-tools"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"tool-check","leftValue":"={{ $json.hasToolCalls }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"}},"name":"Has Tool Calls?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1940,300],"id":"check-tools"},{"parameters":{"fieldToSplitOut":"toolCalls","options":{}},"name":"Split Tool Calls","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2180,200],"id":"split-tools"},{"parameters":{"rules":{"values":[{"outputKey":"fix_workflow","conditions":{"conditions":[{"leftValue":"={{ $json.name }}","rightValue":"fix_workflow","operator":{"type":"string","operation":"equals"}}]}},{"outputKey":"activate_workflow","conditions":{"conditions":[{"leftValue":"={{ $json.name }}","rightValue":"activate_workflow","operator":{"type":"string","operation":"equals"}}]}},{"outputKey":"send_notification","conditions":{"conditions":[{"leftValue":"={{ $json.name }}","rightValue":"send_notification","operator":{"type":"string","operation":"equals"}}]}},{"outputKey":"no_action","conditions":{"conditions":[{"leftValue":"={{ $json.name }}","rightValue":"no_action_needed","operator":{"type":"string","operation":"equals"}}]}}]},"options":{}},"name":"Route Tool Call","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2420,200],"id":"route-tools"},{"parameters":{"method":"GET","url":"=https://garzasync.app.n8n.cloud/api/v1/workflows/{{ $json.input.workflow_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-API-KEY","value":"{{N8N_API_KEY}}"}]},"options":{}},"name":"Get Workflow JSON","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2660,0],"id":"get-workflow"},{"parameters":{"jsCode":"const toolInput = $('Route Tool Call').first().json.input;\nconst workflow = $input.first().json;\nreturn [{json: {action: 'fix_attempted', workflowId: toolInput.workflow_id, workflowName: workflow.name, fixDescription: toolInput.fix_description, nodeName: toolInput.node_name || 'N/A', timestamp: new Date().toISOString(), status: 'logged_for_review'}}];"},"name":"Apply Fix","type":"n8n-nodes-base.code","typeVersion":2,"position":[2900,0],"id":"apply-fix"},{"parameters":{"method":"PATCH","url":"=https://garzasync.app.n8n.cloud/api/v1/workflows/{{ $json.input.workflow_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-API-KEY","value":"{{N8N_API_KEY}}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ active: $json.input.active }) }}","options":{}},"name":"Toggle Workflow","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2660,200],"id":"toggle-workflow"},{"parameters":{"method":"POST","url":"https://api.pushcut.io/xBLsCi64KX6pDdpQI1rAB/notifications/GARZA%20OS%20Agent","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({title: $json.input.title, text: $json.input.message, isTimeSensitive: $json.input.is_critical || false}) }}","options":{}},"name":"Send Push Notification","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2660,400],"id":"send-push"},{"parameters":{"jsCode":"return [{ json: { action: 'no_action_needed', reason: $json.input?.reason || 'System healthy', timestamp: new Date().toISOString() } }];"},"name":"No Actions Needed","type":"n8n-nodes-base.code","typeVersion":2,"position":[2180,400],"id":"no-action"},{"parameters":{"jsCode":"const results = $input.all();\nreturn [{json: {runComplete: true, timestamp: new Date().toISOString(), actionsExecuted: results.length, summary: results.map(r => r.json)}}];"},"name":"Finalize Run","type":"n8n-nodes-base.code","typeVersion":2,"position":[3140,300],"id":"finalize"},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"name":"Webhook Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[3380,300],"id":"webhook-response"}],"connections":{"Every 15 Minutes":{"main":[[{"node":"Get Failed Executions","type":"main","index":0},{"node":"Get All Workflows","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Get Failed Executions","type":"main","index":0},{"node":"Get All Workflows","type":"main","index":0}]]},"Get Failed Executions":{"main":[[{"node":"Merge Data","type":"main","index":0}]]},"Get All Workflows":{"main":[[{"node":"Merge Data","type":"main","index":1}]]},"Merge Data":{"main":[[{"node":"Build Context","type":"main","index":0}]]},"Build Context":{"main":[[{"node":"Prepare Claude Request","type":"main","index":0}]]},"Prepare Claude Request":{"main":[[{"node":"Claude Tool Use","type":"main","index":0}]]},"Claude Tool Use":{"main":[[{"node":"Parse Tool Calls","type":"main","index":0}]]},"Parse Tool Calls":{"main":[[{"node":"Has Tool Calls?","type":"main","index":0}]]},"Has Tool Calls?":{"main":[[{"node":"Split Tool Calls","type":"main","index":0}],[{"node":"No Actions Needed","type":"main","index":0}]]},"Split Tool Calls":{"main":[[{"node":"Route Tool Call","type":"main","index":0}]]},"Route Tool Call":{"main":[[{"node":"Get Workflow JSON","type":"main","index":0}],[{"node":"Toggle Workflow","type":"main","index":0}],[{"node":"Send Push Notification","type":"main","index":0}],[{"node":"Finalize Run","type":"main","index":0}]]},"Get Workflow JSON":{"main":[[{"node":"Apply Fix","type":"main","index":0}]]},"Apply Fix":{"main":[[{"node":"Finalize Run","type":"main","index":0}]]},"Toggle Workflow":{"main":[[{"node":"Finalize Run","type":"main","index":0}]]},"Send Push Notification":{"main":[[{"node":"Finalize Run","type":"main","index":0}]]},"No Actions Needed":{"main":[[{"node":"Finalize Run","type":"main","index":0}]]},"Finalize Run":{"main":[[{"node":"Webhook Response","type":"main","index":0}]]}},"authors":"jaden  ","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2025-12-26T03:47:06.066Z","id":71,"workflowId":"4C5ONaeNq6hErgdo","versionId":"d9b5412e-d018-4364-a5ac-dca33a3a6a3f","event":"activated","userId":"250860b0-4a62-43fe-9aa8-f58058408f22"}]}}