n8n-workflows/garzasync-cloud/Garza-Encouraging-Daily.json
{"updatedAt":"2025-12-26T00:14:30.673Z","createdAt":"2025-12-26T00:14:30.673Z","id":"YRUbUCM1QqkleEzK","name":"Garza Encouraging - Daily","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 7-8 * * *"}]}},"id":"schedule","name":"7-8am Daily","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[250,300]},{"parameters":{"jsCode":"const recipients = [{name: 'Jett', chatId: '!ayKFgXWmmnkcCYmuGd:beeper.com'},{name: 'Joshua', chatId: '!zMNISwfEZhYcVuXnXc:beeper.com'},{name: 'Julia', chatId: '!xDDAejmyvZkLeqMJHJ:beeper.com'}]; return recipients.map(r => ({json: r}));"},"id":"recipients","name":"Get Recipients","type":"n8n-nodes-base.code","typeVersion":2,"position":[450,300]},{"parameters":{"method":"POST","url":"https://beeper-mcp.garzahive.com/v0/mcp","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":1,\"method\":\"tools/call\",\"params\":{\"name\":\"search_messages\",\"arguments\":{\"chatIDs\":[\"{{ $json.chatId }}\"],\"limit\":5}}}"},"id":"get_context","name":"Get Recent Messages","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[650,300]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"{{ANTHROPIC_API_KEY}}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"model\":\"claude-sonnet-4-20250514\",\"max_tokens\":300,\"messages\":[{\"role\":\"user\",\"content\":\"You are Jaden's AI sending a morning message to {{ $('Get Recipients').item.json.name }}. Write a short, warm, encouraging message (2-3 sentences). Be genuine, not cheesy. Sign as Dad or appropriate.\"}]}"},"id":"claude","name":"Claude API","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[850,300]},{"parameters":{"method":"POST","url":"https://beeper-mcp.garzahive.com/v0/mcp","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":1,\"method\":\"tools/call\",\"params\":{\"name\":\"send_message\",\"arguments\":{\"chatID\":\"{{ $('Get Recipients').item.json.chatId }}\",\"text\":\"{{ $json.content[0].text }}\"}}}"},"id":"send","name":"Send Message","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1050,300]}],"connections":{"7-8am Daily":{"main":[[{"node":"Get Recipients","type":"main","index":0}]]},"Get Recipients":{"main":[[{"node":"Get Recent Messages","type":"main","index":0}]]},"Get Recent Messages":{"main":[[{"node":"Claude API","type":"main","index":0}]]},"Claude API":{"main":[[{"node":"Send Message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:7-8am Daily":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"d0587e34-5f72-456d-a885-7211e7ad6362","activeVersionId":"d0587e34-5f72-456d-a885-7211e7ad6362","versionCounter":4,"triggerCount":1,"shared":[{"updatedAt":"2025-12-26T00:14:30.676Z","createdAt":"2025-12-26T00:14:30.676Z","role":"workflow:owner","workflowId":"YRUbUCM1QqkleEzK","projectId":"ZRKSWWwtaPZqyYf5","project":{"updatedAt":"2025-11-03T23:37:11.788Z","createdAt":"2025-11-03T23:37:07.919Z","id":"ZRKSWWwtaPZqyYf5","name":"jaden   <garzasecure@pm.me>","type":"personal","icon":null,"description":null,"creatorId":"250860b0-4a62-43fe-9aa8-f58058408f22","projectRelations":[{"updatedAt":"2025-11-03T23:37:07.920Z","createdAt":"2025-11-03T23:37:07.920Z","userId":"250860b0-4a62-43fe-9aa8-f58058408f22","projectId":"ZRKSWWwtaPZqyYf5","user":{"updatedAt":"2025-12-26T06:00:27.000Z","createdAt":"2025-11-03T23:37:06.499Z","id":"250860b0-4a62-43fe-9aa8-f58058408f22","email":"garzasecure@pm.me","firstName":"jaden","lastName":" ","personalizationAnswers":null,"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"fbeHV6ioUQZwXHfF","userActivatedAt":1766710827089},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-12-26","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2025-12-26T00:14:30.702Z","createdAt":"2025-12-26T00:14:30.702Z","versionId":"d0587e34-5f72-456d-a885-7211e7ad6362","workflowId":"YRUbUCM1QqkleEzK","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 7-8 * * *"}]}},"id":"schedule","name":"7-8am Daily","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[250,300]},{"parameters":{"jsCode":"const recipients = [{name: 'Jett', chatId: '!ayKFgXWmmnkcCYmuGd:beeper.com'},{name: 'Joshua', chatId: '!zMNISwfEZhYcVuXnXc:beeper.com'},{name: 'Julia', chatId: '!xDDAejmyvZkLeqMJHJ:beeper.com'}]; return recipients.map(r => ({json: r}));"},"id":"recipients","name":"Get Recipients","type":"n8n-nodes-base.code","typeVersion":2,"position":[450,300]},{"parameters":{"method":"POST","url":"https://beeper-mcp.garzahive.com/v0/mcp","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":1,\"method\":\"tools/call\",\"params\":{\"name\":\"search_messages\",\"arguments\":{\"chatIDs\":[\"{{ $json.chatId }}\"],\"limit\":5}}}"},"id":"get_context","name":"Get Recent Messages","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[650,300]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"{{ANTHROPIC_API_KEY}}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"model\":\"claude-sonnet-4-20250514\",\"max_tokens\":300,\"messages\":[{\"role\":\"user\",\"content\":\"You are Jaden's AI sending a morning message to {{ $('Get Recipients').item.json.name }}. Write a short, warm, encouraging message (2-3 sentences). Be genuine, not cheesy. Sign as Dad or appropriate.\"}]}"},"id":"claude","name":"Claude API","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[850,300]},{"parameters":{"method":"POST","url":"https://beeper-mcp.garzahive.com/v0/mcp","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"jsonrpc\":\"2.0\",\"id\":1,\"method\":\"tools/call\",\"params\":{\"name\":\"send_message\",\"arguments\":{\"chatID\":\"{{ $('Get Recipients').item.json.chatId }}\",\"text\":\"{{ $json.content[0].text }}\"}}}"},"id":"send","name":"Send Message","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1050,300]}],"connections":{"7-8am Daily":{"main":[[{"node":"Get Recipients","type":"main","index":0}]]},"Get Recipients":{"main":[[{"node":"Get Recent Messages","type":"main","index":0}]]},"Get Recent Messages":{"main":[[{"node":"Claude API","type":"main","index":0}]]},"Claude API":{"main":[[{"node":"Send Message","type":"main","index":0}]]}},"authors":"jaden  ","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2025-12-26T00:14:31.034Z","id":23,"workflowId":"YRUbUCM1QqkleEzK","versionId":"d0587e34-5f72-456d-a885-7211e7ad6362","event":"activated","userId":"250860b0-4a62-43fe-9aa8-f58058408f22"}]}}