n8n-workflows/garzasync-cloud/GARZA-Task-Router-v3.json
{"updatedAt":"2025-12-26T00:00:33.881Z","createdAt":"2025-12-26T00:00:33.881Z","id":"ioLgdQVI7xIJp2M5","name":"GARZA Task Router v3","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"task","responseMode":"responseNode","options":{}},"id":"webhook","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"webhookId":"task"},{"parameters":{"jsCode":"const task=$input.first().json.body||$input.first().json;\nconst taskType=task.type||\"general\";\nreturn [{json:{...task,taskType,routed:true}}];"},"id":"route","name":"Route Task","type":"n8n-nodes-base.code","typeVersion":2,"position":[450,300]},{"parameters":{"respondWith":"json","responseBody":"={{ {success:true,task_id:$json.id||Date.now(),routed:$json.routed} }}"},"id":"respond","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[650,300]}],"connections":{"Webhook":{"main":[[{"node":"Route Task","type":"main","index":0}]]},"Route Task":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"3298a6d3-5284-4932-b5bf-e7cb0305ba42","activeVersionId":"3298a6d3-5284-4932-b5bf-e7cb0305ba42","versionCounter":3,"triggerCount":1,"shared":[{"updatedAt":"2025-12-26T00:00:33.882Z","createdAt":"2025-12-26T00:00:33.882Z","role":"workflow:owner","workflowId":"ioLgdQVI7xIJp2M5","projectId":"ZRKSWWwtaPZqyYf5","project":{"updatedAt":"2025-11-03T23:37:11.788Z","createdAt":"2025-11-03T23:37:07.919Z","id":"ZRKSWWwtaPZqyYf5","name":"jaden   <garzasecure@pm.me>","type":"personal","icon":null,"description":null,"creatorId":"250860b0-4a62-43fe-9aa8-f58058408f22","projectRelations":[{"updatedAt":"2025-11-03T23:37:07.920Z","createdAt":"2025-11-03T23:37:07.920Z","userId":"250860b0-4a62-43fe-9aa8-f58058408f22","projectId":"ZRKSWWwtaPZqyYf5","user":{"updatedAt":"2025-12-26T06:00:27.000Z","createdAt":"2025-11-03T23:37:06.499Z","id":"250860b0-4a62-43fe-9aa8-f58058408f22","email":"garzasecure@pm.me","firstName":"jaden","lastName":" ","personalizationAnswers":null,"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"fbeHV6ioUQZwXHfF","userActivatedAt":1766710827089},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-12-26","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2025-12-26T00:00:33.911Z","createdAt":"2025-12-26T00:00:33.911Z","versionId":"3298a6d3-5284-4932-b5bf-e7cb0305ba42","workflowId":"ioLgdQVI7xIJp2M5","nodes":[{"parameters":{"httpMethod":"POST","path":"task","responseMode":"responseNode","options":{}},"id":"webhook","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"webhookId":"task"},{"parameters":{"jsCode":"const task=$input.first().json.body||$input.first().json;\nconst taskType=task.type||\"general\";\nreturn [{json:{...task,taskType,routed:true}}];"},"id":"route","name":"Route Task","type":"n8n-nodes-base.code","typeVersion":2,"position":[450,300]},{"parameters":{"respondWith":"json","responseBody":"={{ {success:true,task_id:$json.id||Date.now(),routed:$json.routed} }}"},"id":"respond","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[650,300]}],"connections":{"Webhook":{"main":[[{"node":"Route Task","type":"main","index":0}]]},"Route Task":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"authors":"jaden  ","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2025-12-26T00:01:38.065Z","id":11,"workflowId":"ioLgdQVI7xIJp2M5","versionId":"3298a6d3-5284-4932-b5bf-e7cb0305ba42","event":"activated","userId":"250860b0-4a62-43fe-9aa8-f58058408f22"}]}}