n8n-workflows/garzasync-cloud/Garza-Ears-Scanner.json
{"updatedAt":"2025-12-25T23:57:52.723Z","createdAt":"2025-12-25T23:57:52.723Z","id":"rySVTrHqRHKyI2D8","name":"Garza Ears - Scanner","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":5}]}},"id":"schedule","name":"Every 5 Minutes","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[250,300]},{"parameters":{"method":"POST","url":"https://beeper-mcp.garzahive.com/v0/mcp","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer beeper-mcp-2024"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\"jsonrpc\":\"2.0\",\"id\":1,\"method\":\"tools/call\",\"params\":{\"name\":\"search_messages\",\"arguments\":{\"mediaTypes\":[\"any\"],\"limit\":20,\"sender\":\"others\"}}}"},"id":"search","name":"Search Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[450,300]},{"parameters":{"jsCode":"const result = $input.first().json;\nconst messages = [];\nif (result?.result?.content) {\n  try {\n    const content = JSON.parse(result.result.content[0]?.text || '{}');\n    for (const msg of content.messages || []) {\n      if (msg.attachments) {\n        for (const att of msg.attachments) {\n          if (att.type === 'audio' || att.mimeType?.includes('audio')) {\n            messages.push({message_id: msg.id, chat_id: msg.chatID, sender: msg.senderName, timestamp: msg.timestamp, attachment: att});\n          }\n        }\n      }\n    }\n  } catch(e) {}\n}\nreturn messages.map(m => ({json: m}));"},"id":"filter","name":"Filter Audio","type":"n8n-nodes-base.code","typeVersion":2,"position":[650,300]}],"connections":{"Every 5 Minutes":{"main":[[{"node":"Search Audio","type":"main","index":0}]]},"Search Audio":{"main":[[{"node":"Filter Audio","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Every 5 Minutes":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"8fd78867-36c8-41f7-aaf9-203abdd88c9c","activeVersionId":null,"versionCounter":5,"triggerCount":1,"shared":[{"updatedAt":"2025-12-25T23:57:52.726Z","createdAt":"2025-12-25T23:57:52.726Z","role":"workflow:owner","workflowId":"rySVTrHqRHKyI2D8","projectId":"ZRKSWWwtaPZqyYf5","project":{"updatedAt":"2025-11-03T23:37:11.788Z","createdAt":"2025-11-03T23:37:07.919Z","id":"ZRKSWWwtaPZqyYf5","name":"jaden   <garzasecure@pm.me>","type":"personal","icon":null,"description":null,"creatorId":"250860b0-4a62-43fe-9aa8-f58058408f22","projectRelations":[{"updatedAt":"2025-11-03T23:37:07.920Z","createdAt":"2025-11-03T23:37:07.920Z","userId":"250860b0-4a62-43fe-9aa8-f58058408f22","projectId":"ZRKSWWwtaPZqyYf5","user":{"updatedAt":"2025-12-26T06:00:27.000Z","createdAt":"2025-11-03T23:37:06.499Z","id":"250860b0-4a62-43fe-9aa8-f58058408f22","email":"garzasecure@pm.me","firstName":"jaden","lastName":" ","personalizationAnswers":null,"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"fbeHV6ioUQZwXHfF","userActivatedAt":1766710827089},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-12-26","isPending":false}}]}}],"tags":[],"activeVersion":null}