n8n-workflows/garzasync-cloud/Hound-Password-Extractor.json
{"updatedAt":"2025-12-26T05:05:03.673Z","createdAt":"2025-12-26T05:05:03.673Z","id":"7u9wp9mfYNkBKkh6","name":"Hound - Password Extractor","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"hound-passwords","responseMode":"responseNode","options":{}},"id":"webhook","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[200,300]},{"parameters":{"jsCode":"// Initialize extraction\nconst input = $input.first().json.body || $input.first().json;\nconst chatId = input.chatId;\nconst maxPages = input.maxPages || 50;\n\nreturn [{\n  json: {\n    chatId,\n    maxPages,\n    currentPage: 0,\n    cursor: null,\n    allCredentials: [],\n    hasMore: true\n  }\n}];"},"id":"init","name":"Initialize","type":"n8n-nodes-base.code","typeVersion":2,"position":[400,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.hasMore && $json.currentPage < $json.maxPages }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}]}},"id":"checkLoop","name":"More Pages?","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[600,300]},{"parameters":{"method":"POST","url":"https://beeper-mcp.garzahive.com/v0/mcp","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ jsonrpc: '2.0', id: 1, method: 'tools/call', params: { name: 'list_messages', arguments: { chatID: $json.chatId, cursor: $json.cursor || undefined, direction: 'before' } } }) }}"},"id":"fetchMessages","name":"Fetch Messages","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,200]},{"parameters":{"jsCode":"const prev = $('More Pages?').first().json;\nconst response = $input.first().json;\n\n// Parse MCP response\nlet messages = [];\nlet cursor = null;\nlet hasMore = false;\n\ntry {\n  const result = response.result?.content?.[0]?.text;\n  if (result) {\n    const parsed = JSON.parse(result);\n    messages = parsed.messages || [];\n    cursor = parsed.cursor || null;\n    hasMore = parsed.hasMore || false;\n  }\n} catch (e) {\n  // Try direct structure\n  messages = response.messages || [];\n  cursor = response.cursor || null;\n  hasMore = response.hasMore || false;\n}\n\n// Regex patterns for credentials\nconst patterns = [\n  { type: 'password', regex: /(?:password|pwd|pass)[:\\s]*([^\\s]{6,})/gi },\n  { type: 'api_key', regex: /(?:api[_-]?key|apikey|api_secret)[:\\s]*([a-zA-Z0-9_\\-]{20,})/gi },\n  { type: 'api_key', regex: /(sk-[a-zA-Z0-9]{20,})/g },\n  { type: 'api_key', regex: /(shpat_[a-zA-Z0-9]{32,})/g },\n  { type: 'token', regex: /(?:token|bearer)[:\\s]*([a-zA-Z0-9_\\-\\.]{20,})/gi },\n  { type: 'recovery_code', regex: /([A-Z0-9]{5}-[A-Z0-9]{5})/g },\n  { type: 'recovery_code', regex: /([a-z]{5,8}-[a-z]{5,8}-[a-zA-Z0-9]{5,8})/gi },\n  { type: 'credential', regex: /([a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+)\\s*[\\/|:]\\s*([^\\s]{6,})/g },\n  { type: 'hex_key', regex: /([a-f0-9]{32,})/gi },\n  { type: 'jwt', regex: /(eyJ[a-zA-Z0-9_-]+\\.[a-zA-Z0-9_-]+\\.[a-zA-Z0-9_-]+)/g }\n];\n\nconst newCreds = [];\n\nfor (const msg of messages) {\n  const text = msg.body || msg.text || msg.content?.body || '';\n  const sender = msg.sender || 'unknown';\n  const timestamp = msg.timestamp || msg.origin_server_ts;\n  \n  for (const p of patterns) {\n    const matches = text.matchAll(p.regex);\n    for (const match of matches) {\n      newCreds.push({\n        type: p.type,\n        value: match[1] || match[0],\n        context: text.substring(0, 200),\n        sender,\n        timestamp,\n        messageId: msg.id || msg.event_id\n      });\n    }\n  }\n}\n\nconst allCredentials = [...prev.allCredentials, ...newCreds];\n\nreturn [{\n  json: {\n    chatId: prev.chatId,\n    maxPages: prev.maxPages,\n    currentPage: prev.currentPage + 1,\n    cursor,\n    allCredentials,\n    hasMore,\n    messagesProcessed: messages.length\n  }\n}];"},"id":"extractCreds","name":"Extract Credentials","type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,200]},{"parameters":{"jsCode":"const data = $input.first().json;\n\n// Deduplicate by value\nconst seen = new Set();\nconst unique = data.allCredentials.filter(c => {\n  if (seen.has(c.value)) return false;\n  seen.add(c.value);\n  return true;\n});\n\n// Group by type\nconst grouped = {};\nfor (const c of unique) {\n  if (!grouped[c.type]) grouped[c.type] = [];\n  grouped[c.type].push(c);\n}\n\nreturn [{\n  json: {\n    success: true,\n    chatId: data.chatId,\n    pagesScanned: data.currentPage,\n    totalCredentials: unique.length,\n    byType: grouped,\n    credentials: unique\n  }\n}];"},"id":"formatOutput","name":"Format Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[800,400]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}"},"id":"respond","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1000,400]}],"connections":{"Webhook":{"main":[[{"node":"Initialize","type":"main","index":0}]]},"Initialize":{"main":[[{"node":"More Pages?","type":"main","index":0}]]},"More Pages?":{"main":[[{"node":"Fetch Messages","type":"main","index":0}],[{"node":"Format Output","type":"main","index":0}]]},"Fetch Messages":{"main":[[{"node":"Extract Credentials","type":"main","index":0}]]},"Extract Credentials":{"main":[[{"node":"More Pages?","type":"main","index":0}]]},"Format Output":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"89cf5f53-c3bd-4dd5-a13d-6a9ee72f3030","activeVersionId":null,"versionCounter":1,"triggerCount":0,"shared":[{"updatedAt":"2025-12-26T05:05:03.674Z","createdAt":"2025-12-26T05:05:03.674Z","role":"workflow:owner","workflowId":"7u9wp9mfYNkBKkh6","projectId":"ZRKSWWwtaPZqyYf5","project":{"updatedAt":"2025-11-03T23:37:11.788Z","createdAt":"2025-11-03T23:37:07.919Z","id":"ZRKSWWwtaPZqyYf5","name":"jaden   <garzasecure@pm.me>","type":"personal","icon":null,"description":null,"creatorId":"250860b0-4a62-43fe-9aa8-f58058408f22","projectRelations":[{"updatedAt":"2025-11-03T23:37:07.920Z","createdAt":"2025-11-03T23:37:07.920Z","userId":"250860b0-4a62-43fe-9aa8-f58058408f22","projectId":"ZRKSWWwtaPZqyYf5","user":{"updatedAt":"2025-12-26T06:00:27.000Z","createdAt":"2025-11-03T23:37:06.499Z","id":"250860b0-4a62-43fe-9aa8-f58058408f22","email":"garzasecure@pm.me","firstName":"jaden","lastName":" ","personalizationAnswers":null,"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"fbeHV6ioUQZwXHfF","userActivatedAt":1766710827089},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-12-26","isPending":false}}]}}],"tags":[],"activeVersion":null}