n8n-workflows/garzasync-cloud/Jaden-Responder-v2.json
{"updatedAt":"2025-12-26T00:13:02.020Z","createdAt":"2025-12-26T00:13:02.020Z","id":"0PeWqdWCXmGGyikZ","name":"Jaden Responder v2","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"jaden-respond","responseMode":"responseNode","options":{}},"id":"webhook","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"webhookId":"jaden-respond"},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"{{ANTHROPIC_API_KEY}}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"model\":\"claude-sonnet-4-20250514\",\"max_tokens\":500,\"messages\":[{\"role\":\"user\",\"content\":\"You are responding as Jaden Garza. Match his voice: warm, direct, uses 'babe' with Jessica, casual with friends. Keep responses natural and brief. Conversation: {{ $json.body.conversation }} Respond as Jaden would:\"}]}"},"id":"claude","name":"Claude API","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[450,300]},{"parameters":{"respondWith":"json","responseBody":"={{ { response: $json.content[0].text, chat_id: $('Webhook').item.json.body.chat_id } }}"},"id":"respond","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[650,300]}],"connections":{"Webhook":{"main":[[{"node":"Claude API","type":"main","index":0}]]},"Claude API":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"6ac42ea2-b19b-41f6-a11e-df413e62bf54","activeVersionId":"6ac42ea2-b19b-41f6-a11e-df413e62bf54","versionCounter":3,"triggerCount":1,"shared":[{"updatedAt":"2025-12-26T00:13:02.024Z","createdAt":"2025-12-26T00:13:02.024Z","role":"workflow:owner","workflowId":"0PeWqdWCXmGGyikZ","projectId":"ZRKSWWwtaPZqyYf5","project":{"updatedAt":"2025-11-03T23:37:11.788Z","createdAt":"2025-11-03T23:37:07.919Z","id":"ZRKSWWwtaPZqyYf5","name":"jaden   <garzasecure@pm.me>","type":"personal","icon":null,"description":null,"creatorId":"250860b0-4a62-43fe-9aa8-f58058408f22","projectRelations":[{"updatedAt":"2025-11-03T23:37:07.920Z","createdAt":"2025-11-03T23:37:07.920Z","userId":"250860b0-4a62-43fe-9aa8-f58058408f22","projectId":"ZRKSWWwtaPZqyYf5","user":{"updatedAt":"2025-12-26T06:00:27.000Z","createdAt":"2025-11-03T23:37:06.499Z","id":"250860b0-4a62-43fe-9aa8-f58058408f22","email":"garzasecure@pm.me","firstName":"jaden","lastName":" ","personalizationAnswers":null,"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"fbeHV6ioUQZwXHfF","userActivatedAt":1766710827089},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-12-26","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2025-12-26T00:13:02.052Z","createdAt":"2025-12-26T00:13:02.052Z","versionId":"6ac42ea2-b19b-41f6-a11e-df413e62bf54","workflowId":"0PeWqdWCXmGGyikZ","nodes":[{"parameters":{"httpMethod":"POST","path":"jaden-respond","responseMode":"responseNode","options":{}},"id":"webhook","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"webhookId":"jaden-respond"},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"{{ANTHROPIC_API_KEY}}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"model\":\"claude-sonnet-4-20250514\",\"max_tokens\":500,\"messages\":[{\"role\":\"user\",\"content\":\"You are responding as Jaden Garza. Match his voice: warm, direct, uses 'babe' with Jessica, casual with friends. Keep responses natural and brief. Conversation: {{ $json.body.conversation }} Respond as Jaden would:\"}]}"},"id":"claude","name":"Claude API","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[450,300]},{"parameters":{"respondWith":"json","responseBody":"={{ { response: $json.content[0].text, chat_id: $('Webhook').item.json.body.chat_id } }}"},"id":"respond","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[650,300]}],"connections":{"Webhook":{"main":[[{"node":"Claude API","type":"main","index":0}]]},"Claude API":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"authors":"jaden  ","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2025-12-26T00:13:11.500Z","id":21,"workflowId":"0PeWqdWCXmGGyikZ","versionId":"6ac42ea2-b19b-41f6-a11e-df413e62bf54","event":"activated","userId":"250860b0-4a62-43fe-9aa8-f58058408f22"}]}}