n8n-workflows/garzasync-cloud/Risk-Compliance-Daily-Summary.json
{"updatedAt":"2025-12-26T00:15:02.731Z","createdAt":"2025-12-26T00:15:02.731Z","id":"CrGZ1jKC099RucXZ","name":"Risk Compliance Daily Summary","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 9 * * 1-5"}]}},"id":"schedule","name":"9am Weekdays","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[250,300]},{"parameters":{"httpMethod":"POST","path":"risk-compliance-run","options":{}},"id":"manual","name":"Manual Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,450],"webhookId":"risk-compliance-run"},{"parameters":{"url":"https://slack.com/api/conversations.history","sendQuery":true,"queryParameters":{"parameters":[{"name":"channel","value":"C07HPJCUFPC"},{"name":"limit","value":"50"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer {{SLACK_BOT_TOKEN}}"}]}},"id":"slack","name":"Get Slack Messages","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[450,375]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"{{ANTHROPIC_API_KEY}}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"model\":\"claude-sonnet-4-20250514\",\"max_tokens\":1500,\"messages\":[{\"role\":\"user\",\"content\":\"Summarize these risk/compliance Slack messages. Be concise, highlight urgent items. Use emoji headers. Messages: {{ JSON.stringify($json.messages) }}\"}]}"},"id":"claude","name":"Claude API","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[650,375]},{"parameters":{"method":"POST","url":"https://slack.com/api/chat.postMessage","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer {{SLACK_BOT_TOKEN}}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"channel\":\"C07K4ABCDEF\",\"text\":\"Daily Risk Summary: {{ $json.content[0].text }}\"}"},"id":"post","name":"Post to Officers","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[850,375]}],"connections":{"9am Weekdays":{"main":[[{"node":"Get Slack Messages","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Get Slack Messages","type":"main","index":0}]]},"Get Slack Messages":{"main":[[{"node":"Claude API","type":"main","index":0}]]},"Claude API":{"main":[[{"node":"Post to Officers","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:9am Weekdays":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"124fe03a-b677-48ff-a2b1-202b2a3b0029","activeVersionId":"124fe03a-b677-48ff-a2b1-202b2a3b0029","versionCounter":4,"triggerCount":2,"shared":[{"updatedAt":"2025-12-26T00:15:02.733Z","createdAt":"2025-12-26T00:15:02.733Z","role":"workflow:owner","workflowId":"CrGZ1jKC099RucXZ","projectId":"ZRKSWWwtaPZqyYf5","project":{"updatedAt":"2025-11-03T23:37:11.788Z","createdAt":"2025-11-03T23:37:07.919Z","id":"ZRKSWWwtaPZqyYf5","name":"jaden   <garzasecure@pm.me>","type":"personal","icon":null,"description":null,"creatorId":"250860b0-4a62-43fe-9aa8-f58058408f22","projectRelations":[{"updatedAt":"2025-11-03T23:37:07.920Z","createdAt":"2025-11-03T23:37:07.920Z","userId":"250860b0-4a62-43fe-9aa8-f58058408f22","projectId":"ZRKSWWwtaPZqyYf5","user":{"updatedAt":"2025-12-26T06:00:27.000Z","createdAt":"2025-11-03T23:37:06.499Z","id":"250860b0-4a62-43fe-9aa8-f58058408f22","email":"garzasecure@pm.me","firstName":"jaden","lastName":" ","personalizationAnswers":null,"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"fbeHV6ioUQZwXHfF","userActivatedAt":1766710827089},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-12-26","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2025-12-26T00:15:02.757Z","createdAt":"2025-12-26T00:15:02.757Z","versionId":"124fe03a-b677-48ff-a2b1-202b2a3b0029","workflowId":"CrGZ1jKC099RucXZ","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 9 * * 1-5"}]}},"id":"schedule","name":"9am Weekdays","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[250,300]},{"parameters":{"httpMethod":"POST","path":"risk-compliance-run","options":{}},"id":"manual","name":"Manual Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,450],"webhookId":"risk-compliance-run"},{"parameters":{"url":"https://slack.com/api/conversations.history","sendQuery":true,"queryParameters":{"parameters":[{"name":"channel","value":"C07HPJCUFPC"},{"name":"limit","value":"50"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer {{SLACK_BOT_TOKEN}}"}]}},"id":"slack","name":"Get Slack Messages","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[450,375]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"{{ANTHROPIC_API_KEY}}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"model\":\"claude-sonnet-4-20250514\",\"max_tokens\":1500,\"messages\":[{\"role\":\"user\",\"content\":\"Summarize these risk/compliance Slack messages. Be concise, highlight urgent items. Use emoji headers. Messages: {{ JSON.stringify($json.messages) }}\"}]}"},"id":"claude","name":"Claude API","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[650,375]},{"parameters":{"method":"POST","url":"https://slack.com/api/chat.postMessage","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer {{SLACK_BOT_TOKEN}}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"channel\":\"C07K4ABCDEF\",\"text\":\"Daily Risk Summary: {{ $json.content[0].text }}\"}"},"id":"post","name":"Post to Officers","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[850,375]}],"connections":{"9am Weekdays":{"main":[[{"node":"Get Slack Messages","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Get Slack Messages","type":"main","index":0}]]},"Get Slack Messages":{"main":[[{"node":"Claude API","type":"main","index":0}]]},"Claude API":{"main":[[{"node":"Post to Officers","type":"main","index":0}]]}},"authors":"jaden  ","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2025-12-26T00:15:03.206Z","id":24,"workflowId":"CrGZ1jKC099RucXZ","versionId":"124fe03a-b677-48ff-a2b1-202b2a3b0029","event":"activated","userId":"250860b0-4a62-43fe-9aa8-f58058408f22"}]}}